﻿@{
    ViewBag.Title = "Kalender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script>
@if (User.Identity.IsAuthenticated)
{



    <div class="space">
        Maand:
        <a href="javascript:dpm.commandCallBack('previous');">Vorige</a>
        |
        <a href="javascript:dpm.commandCallBack('next');">Volgende</a>
    </div>




@Html.DayPilotMonth("dpm", new DayPilotMonthConfig
{
    BackendUrl = Url.Action("Backend", "Calendar"),
    
    
    
  
    
    
    
})
}
else
{
    Response.Redirect(Url.Action("Login", "Account"));
}

<style>
    .space{
        margin-top: 35px;
    }
    #dpm{
        margin-top : 35px;
    }

    
</style>