﻿@model IEnumerable<LudusCMS.Model.Event>

@if (Model != null & Model.Count() > 0)
{
    foreach (var Evenement in Model)
    {
        <div class="well well-lg">
            
                
                    <h4 class="course-next-title">@Evenement.Name</h4>
            
                <p>Tegen: <strong>@Evenement.End_Date.ToShortDateString()</strong></p>
                <blockquote>@Evenement.Description</blockquote>
            
            
            </div>
            }


            }
            else
            {
            <div class="well well-lg">
                Geen Taken beschikbaar!
            </div>
            }

