﻿@model IEnumerable<LudusCMS.Model.Course>

@if (Model != null & Model.Count() > 0)
{
    foreach (var Course in Model)
    {
        <div class="well well-lg">
            <article>
                <h4>@Html.ActionLink(@Course.Name, "Details", "Course", new { id = @Course.Id }, null)</h4>

            </article>
            </div>
            }


            }
            else
            {
            <div class="well well-lg">
                Geen courses beschikbaar!
            </div>
            }

