﻿@model LudusCMS.Model.Course

@{
    ViewBag.SubTitle = "Vakken van de leerling";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
<article class="large-post">
    <h1 class="course-title">@Model.Name</h1>
    <h4>Lesinhoud</h4>
    <p>@Model.Description</p>
    <h4>Leerkracht</h4>
    @UserHelper.UserTreeView(@ViewBag.Teachers, @Model.TeacherId.Value)
    <h4>Eerstvolgende Taken</h4>

    <section id="course-list">

        @{Html.RenderAction("PVGetEvents", "Course", new { courseId = @Model.Id });}
    </section>
</article>

}
else
{
    Response.Redirect(Url.Action("Login", "Account"));
}