﻿@{
    ViewBag.Title = "Courses";
    ViewBag.SubTitle = "Courses Ludus";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section>
    <article>
        <h3>Error</h3>
        <p>We hebben jouw klas en lessen niet gevonden. Excuses voor het ongemak, probeer het later opnieuw!</p>
    </article>
</section>