﻿@model IEnumerable<LudusCMS.Model.Course>

@{
    ViewBag.Title = "Cursussen";
    ViewBag.SubTitle = "Cursussen Ludus";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
<section id="course-list">
    @{Html.RenderAction("PVGetCourses", "Course", new { });}
</section>
    
}
else
{
    Response.Redirect(Url.Action("Login", "Account"));
}