﻿@model LudusCMS.Model.ViewModels.ReportcardRowViewModel
@{
    
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit a existing row
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Reportcard</legend>
                        @Html.HiddenFor(m => m.ReportcardRow.Id)
                        <div class="form-group">
                            @Html.LabelFor(m => m.ReportcardRow.TaskPoint)
                            @Html.TextBoxFor(m =>m.ReportcardRow.TaskPoint , new {  @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ReportcardRow.TaskTotal)
                            @Html.TextBoxFor(m => m.ReportcardRow.TaskTotal, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ReportcardRow.TestPoint)
                            @Html.TextBoxFor(m => m.ReportcardRow.TestPoint, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ReportcardRow.TestTotal)
                            @Html.TextBoxFor(m => m.ReportcardRow.TestTotal, new { @class = "form-control" })
                        </div>



                        <div class="form-group">
                            @Html.LabelFor(m => m.ReportcardRow.CourseId)
                            @Html.DropDownListFor(m => m.ReportcardRow.CourseId, new SelectList(Model.Courses, "Id", "Name"), "-- Select the course your score belongs to --", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ReportcardRow.Description)
                            @Html.TextBoxFor(m => m.ReportcardRow.Description, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ReportcardRow.ReportcardId, new { @class = "hidden" })
                            @Html.TextBoxFor(m => m.ReportcardRow.ReportcardId, new { @class = "hidden" })
                        </div>
                        <input type="submit" value="Save" class="btn btn-default">
                        @Html.ActionLink("Back to the list", "Index","Reportcard", new { }, new { @class = "btn btn-primairy" })
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>