﻿@model IEnumerable<LudusCMS.Model.SchoolYear>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new SchoolYear", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var academicYear in Model)
                        {
                            <tr data-id="academicyear-@academicYear.Id" data-title="@academicYear.Name">
                                <td>@academicYear.Name</td>
                                <td>@academicYear.Description</td>
                                <td>@academicYear.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @academicYear.Id })" title="Edit academicyear: @academicYear.Name"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @academicYear.Id })" title="Delete academicyear: @academicYear.Name" data-id="@academicYear.Id" data-cat="academicyear" data-action="delete" data-update-href="@Url.Action("Index", "SchoolYear")" data-update-target="#academicyears-list"><i class="fa fa-trash"></i></a>
                                    @if (@academicYear.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @academicYear.Id })" title="Soft-undelete academicyear: @academicYear.Name" data-id="@academicYear.Id" data-cat="academicyear" data-action="virtualundelete" data-update-href="@Url.Action("Index", "SchoolYear")" data-update-target="#academicyears-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @academicYear.Id })" title="Soft-delete academicyear: @academicYear.Name" data-id="@academicYear.Id" data-cat="academicyear" data-action="virtualdelete" data-update-href="@Url.Action("Index", "SchoolYear")" data-update-target="#academicyears-list"><i class="fa fa-eye"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Schoolyears in the database!</p>
        }
    </div>
    <div class="panel-footer">
        
    </div>
</div>