﻿@model LudusCMS.Model.SchoolYear
@{
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit an existing schoolyear
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Schoolyear</legend>
                        @Html.HiddenFor(m => m.Id)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 4, cols = 100 })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SchoolYearStart)
                            @Html.TextBoxFor(m => m.SchoolYearStart, new { @class = "form-control datepicker" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.SchoolYearEnd)
                            @Html.TextBoxFor(m => m.SchoolYearEnd, new { @class = "form-control datepicker" })
                        </div>                       
                       
                        <input type="submit" value="Save" class="btn btn-default" />
                        @Html.ActionLink("Back to the list", "Index", new { }, new { @class = "btn btn-primairy" })
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>

@section Scripts {

    <script>
 // will trigger when the document is ready

        function getDate() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();




            today = dd + '/' + mm + '/' + yyyy;
            return today;
        }

        $(function () {
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
            }).val(getDate); //Initialise any date pickers
        });

        $(function () {
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
            $(".datefield").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true });
        });
    </script>

}
