﻿@model IEnumerable<LudusCMS.Model.Tag>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Tag", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tag in Model)
                        {
                            <tr data-id="tag-@tag.Id" data-title="@tag.Name">
                                <td>@tag.Name</td>
                                <td>@tag.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @tag.Id })" title="Edit tag: @tag.Name"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @tag.Id })" title="Delete tag: @tag.Name" data-id="@tag.Id" data-cat="tag" data-action="delete" data-update-href="@Url.Action("Index", "Tag")" data-update-target="#tags-list"><i class="fa fa-trash"></i></a>
                                    @if (@tag.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @tag.Id })" title="Soft-undelete tag: @tag.Name" data-id="@tag.Id" data-cat="tag" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Tag")" data-update-target="#tags-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @tag.Id })" title="Soft-delete tag: @tag.Name" data-id="@tag.Id" data-cat="tag" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Tag")" data-update-target="#tags-list"><i class="fa fa-eye"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Tags in the database!</p>
        }
    </div>
    <div class="panel-footer">
        
    </div>
</div>