﻿@model IEnumerable<LudusCMS.Model.ApplicationRole>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Role", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model)
                        {
                            <tr data-id="role-@role.Id" data-title="@role.Name">
                                <td>@role.Name</td>
                                <td>@role.Description</td>
                                <td>@role.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new{id = @role.Id})" title="Edit role: @role.Name"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new{id = @role.Id})" title="Delete role: @role.Name" data-id="@role.Id" data-cat="role" data-action="delete" data-update-href="@Url.Action("Index", "role")" data-update-target="#roles-list"><i class="fa fa-trash"></i></a>
                                    @if (@role.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new{id = @role.Id})" title="Soft-undelete role: @role.Name" data-id="@role.Id" data-cat="role" data-action="virtualundelete" data-update-href="@Url.Action("Index", "role")" data-update-target="#roles-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new{id = @role.Id})" title="Soft-delete role: @role.Name" data-id="@role.Id" data-cat="role" data-action="virtualdelete" data-update-href="@Url.Action("Index", "role")" data-update-target="#roles-list"><i class="fa fa-eye"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No roles in the database!</p>
        }
    </div>
    <div class="panel-footer">
        
    </div>
</div>
