﻿@model IEnumerable<LudusCMS.Model.ApplicationUser>
@Html.AntiForgeryToken()
<div class="panel panel-default">

    <div class="panel-body">
     @Html.ActionLink("Add role to user", "AddRole")
    @Html.ActionLink("Delete role of user", "DeleteRole")
    </div>

</div>
