﻿@model IEnumerable<LudusCMS.Model.ApplicationUserRole>
@{
    ViewBag.Title = "User roles";
    ViewBag.SubTitle = "Overview, List, Delete and Edit";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @Html.ActionLink("Add role to user", "AddRole", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Delete role of user", "DeleteRole", new { }, new { @class = "btn btn-default" })
</div>

@section Scripts {
    <script>
        window.ConfirmManager.registerClickHandlers();
        window.ConfirmManager.registerModalHandlers();
    </script>
}