﻿@model IEnumerable<LudusCMS.Model.Category>
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Category", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>                                                        
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            @Html.AntiForgeryToken()
                            <tr data-id="category-@category.Id" data-title="@category.Name">
                                <td>@category.Name</td>                                
                                <td>@category.Description</td>
                                <td>@category.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @category.Id })" title="Edit category: @category.Name"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @category.Id })" title="Delete category: @category.Name" data-id="@category.Id" data-cat="category" data-action="delete" data-update-href="@Url.Action("Index", "Category")" data-update-target="#categories-list"><i class="fa fa-trash"></i></a>
                                    @if (@category.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @category.Id })" title="Soft-undelete category: @category.Name" data-id="@category.Id" data-cat="category" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Category")" data-update-target="#categories-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @category.Id })" title="Soft-delete category: @category.Name" data-id="@category.Id" data-cat="category" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Category")" data-update-target="#categories-list"><i class="fa fa-eye"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Categories in the database!</p>
        }
    </div>
    <div class="panel-footer">
       
    </div>
</div>


