﻿@model LudusCMS.Model.ViewModels.CategoryViewModel
@{
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a new category
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Category</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Category.Name)
                            @Html.TextBoxFor(m => m.Category.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Category.Description)
                            @Html.TextAreaFor(m => m.Category.Description, new { @class = "form-control", rows = 4, cols = 100 })
                        </div>
                        
                        <input type="submit" value="Create" class="btn btn-default" />
                        @Html.ActionLink("Back to the list", "Index", new { }, new { @class = "btn btn-primairy" })
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>

