﻿@model IEnumerable<LudusCMS.Model.Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <section class="col-xs-12" id="categories-list">
        @{Html.RenderPartial("_ListPartial", Model);}
    </section>
</div>
@section Scripts {
    <script>
        window.ConfirmManager.registerClickHandlers();
        window.ConfirmManager.registerModalHandlers();
    </script>
}
