﻿@Html.AntiForgeryToken()
<div class="panel panel-default">
    @Html.ActionLink("Unassigned users", "Index", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Admins", "IndexAdmins", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Students", "IndexStudents", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Teachers", "IndexTeachers", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Parents", "IndexParents", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Classtitulars", "IndexClasstitulars", new { }, new { @class = "btn btn-default", @disabled = "disabled" })
    @Html.ActionLink("Secretaries", "IndexSecretaries", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Principals", "IndexPrincipals", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Coordinators", "IndexCoordinators", new { }, new { @class = "btn btn-default" })

    <div class="panel-body">
        @if (ViewBag.Classtitulars != null)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var classtitular in ViewBag.Classtitulars)
                        {

                            <tr>
                                <td>@classtitular.FirstName @classtitular.LastName</td>
                                @if (classtitular.ClassId != null)
                                {
                                    @ClassHelper.ClassTreeView(Classes: ViewBag.Classes, id: (Int32)classtitular.ClassId)
                                }
                                else
                                {
                                    <td>Classtitular heeft nog geen klas!</td>
                                }
                                <td>
                                    @if (classtitular.ClassId == null)
                                    {
                                        <a href="@Url.Action("AddClassTitular", new { id = @classtitular.Id })" title="Give ClassTitular a class: @classtitular.FirstName @classtitular.LastName"><i class="fa fa-plus"></i></a>
                                    }
                                    @if (classtitular.ClassId != null)
                                    {
                                        <a href="@Url.Action("DeleteClassTitular", new { id = @classtitular.Id })" title="Delete clas from classtitular: @classtitular.FirstName @classtitular.LastName"><i class="fa fa-trash"></i></a>
                                    }
                                   
                                    <a href="@Url.Action("DeleteRoleClasstitular", new { id = @classtitular.Id })" title="Delete role from classtitular: @classtitular.UserName"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Classtitulars in the database!</p>
        }
    </div>
</div>