﻿@Html.AntiForgeryToken()
<div class="panel panel-default">
    @Html.ActionLink("Unassigned users", "Index", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Admins", "IndexAdmins", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Students", "IndexStudents", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Teachers", "IndexTeachers", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Parents", "IndexParents", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Classtitulars", "IndexClasstitulars", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Secretaries", "IndexSecretaries", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Principals", "IndexPrincipals", new { }, new { @class = "btn btn-default", @disabled = "disabled" })
    @Html.ActionLink("Coordinators", "IndexCoordinators", new { }, new { @class = "btn btn-default" })

    <div class="panel-body">
        @if (ViewBag.Principals != null)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var principal in ViewBag.Principals)
                        {

                            <tr>
                                <td>@principal.FirstName @principal.LastName</td>
                                <td><a href="@Url.Action("DeleteRolePrincipal", new { id = @principal.Id })" title="Delete role from principal: @principal.UserName"><i class="fa fa-times"></i></a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Principals in the database!</p>
        }
    </div>
</div>