﻿@Html.AntiForgeryToken()
<div class="panel panel-default">
    @Html.ActionLink("Unassigned users", "Index", new { }, new { @class = "btn btn-default", @disabled = "disabled" })
    @Html.ActionLink("Admins", "IndexAdmins", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Students", "IndexStudents", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Teachers", "IndexTeachers", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Parents", "IndexParents", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Classtitulars", "IndexClasstitulars", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Secretaries", "IndexSecretaries", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Principals", "IndexPrincipals", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Coordinators", "IndexCoordinators", new { }, new { @class = "btn btn-default" })

    <div class="panel-body">
        @if (ViewBag.Gebruikers != null)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>FirstName</th>
                            <th>Lastname</th>
                            <th>Department</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var gebruiker in ViewBag.Gebruikers)
                        {

                            <tr>

                                <td>@gebruiker.UserName</td>
                                <td>@gebruiker.Email</td>
                                <td>@gebruiker.FirstName</td>
                                <td>@gebruiker.LastName</td>
                                @if (gebruiker.DepartmentId != null)
                                {
                                    @PersonHelper.DepartmentTreeView(Departments: ViewBag.Departments, id: (Int32)gebruiker.DepartmentId)
                                }
                                else
                                {
                                    <td>Gebruiker heeft geen department!</td>
                                }
                                <td>@gebruiker.Updated</td>
                                <td><a href="@Url.Action("AddRole", new { id = @gebruiker.Id })" title="Give User a role: @gebruiker.UserName"><i class="fa fa-plus"></i></a>
                                    <a href="@Url.Action("Edit", new{id = @gebruiker.Id})" title="Edit user: @gebruiker.UserName"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new{id = @gebruiker.Id})" title="Delete user: @gebruiker.UserName" data-id="@gebruiker.Id" data-cat="user" data-action="delete" data-update-href="@Url.Action("Index", "Gebruiker")" data-update-target="#users-list"><i class="fa fa-trash"></i></a>
                                    @if (@gebruiker.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new{id = @gebruiker.Id})" title="Soft-undelete user: @gebruiker.UserName" data-id="@gebruiker.Id" data-cat="user" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Gebruiker")" data-update-target="#users-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new{id = @gebruiker.Id})" title="Soft-delete user: @gebruiker.UserName" data-id="@gebruiker.Id" data-cat="user" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Gebruiker")" data-update-target="#users-list"><i class="fa fa-eye"></i></a>
                                    }
                                
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Students in the database!</p>
        }
    </div>
</div>






















            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
@*@model IEnumerable<LudusCMS.Model.ApplicationUser>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>FirstName</th>
                            <th>Lastname</th>
                            <th>Department</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr data-id="user-@user.Id" data-title="@user.UserName">
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                @if (user.DepartmentId != null)
                                {
                                    @PersonHelper.DepartmentTreeView(Departments: ViewBag.Departments, id: (Int32)user.DepartmentId)
                                }
                                else
                                {
                                    <td>User heeft geen department!</td>
                                }
                                <td>@user.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new{id = @user.Id})" title="Edit user: @user.UserName"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new{id = @user.Id})" title="Delete user: @user.UserName" data-id="@user.Id" data-cat="user" data-action="delete" data-update-href="@Url.Action("Index", "User")" data-update-target="#users-list"><i class="fa fa-trash"></i></a>
                                    @if (@user.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new{id = @user.Id})" title="Soft-undelete user: @user.UserName" data-id="@user.Id" data-cat="user" data-action="virtualundelete" data-update-href="@Url.Action("Index", "User")" data-update-target="#users-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new{id = @user.Id})" title="Soft-delete user: @user.UserName" data-id="@user.Id" data-cat="user" data-action="virtualdelete" data-update-href="@Url.Action("Index", "User")" data-update-target="#users-list"><i class="fa fa-eye"></i></a>
                                    }
                                    @if (@user.LockoutEnabled && @user.LockoutEndDateUtc != null && @user.LockoutEndDateUtc > DateTimeOffset.MinValue)
                                    {
                                        <a class="confirm-link" href="@Url.Action("UnLock", new{id = @user.Id})" title="Unlock user: @user.UserName" data-id="@user.Id" data-cat="user" data-action="unlock" data-update-href="@Url.Action("Index", "User")" data-update-target="#users-list"><i class="fa fa-lock"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("Lock", new{id = @user.Id})" title="Lock user: @user.UserName" data-id="@user.Id" data-cat="user" data-action="lock" data-update-href="@Url.Action("Index", "User")" data-update-target="#users-list"><i class="fa fa-unlock"></i></a>
                                    }
                                    @if (@user.TwoFactorEnabled)
                                    {
                                        <a class="confirm-link" href="@Url.Action("DisableTwoFactor", new{id = @user.Id})" title="Disable TwoFactor for the user: @user.UserName" data-id="@user.Id" data-cat="user" data-action="disabletwofactor" data-update-href="@Url.Action("Index", "User")" data-update-target="#users-list"><i class="fa fa-angellist"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("EnableTwoFactor", new{id = @user.Id})" title="Enable TwoFactor for the user: @user.UserName" data-id="@user.Id" data-cat="user" data-action="enabletwofactor" data-update-href="@Url.Action("Index", "User")" data-update-target="#users-list"><i class="fa fa-angellist" style="opacity:0.4"></i></a>
                                    }
                                    <a href="@Url.Action("AddRole", new { id = @user.Id })" title="give: @user.UserName a role"><i class="fa fa-edit"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No users in the database!</p>
        }
    </div>
    <div class="panel-footer">
      
    </div>
</div>*@
