﻿@Html.AntiForgeryToken()
<div class="panel panel-default">
    @Html.ActionLink("Unassigned users", "Index", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Admins", "IndexAdmins", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Students", "IndexStudents", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Teachers", "IndexTeachers", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Parents", "IndexParents", new { }, new { @class = "btn btn-default", @disabled = "disabled" })
    @Html.ActionLink("Classtitulars", "IndexClasstitulars", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Secretaries", "IndexSecretaries", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Principals", "IndexPrincipals", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Coordinators", "IndexCoordinators", new { }, new { @class = "btn btn-default" })
    <div class="panel-body">
        @if (ViewBag.Parents != null)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Child</th>                
                            <th>Assign Student</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var parent in ViewBag.Parents)
                        {

                            <tr>
                                <td>@parent.FirstName @parent.LastName</td>
                                @if (parent.ChildId != null)
                                {
                                    @StudentHelper.StudentTreeView(Students: ViewBag.Students, id: (Int32)parent.ChildId)
                                }
                                else
                                {
                                    <td>Parent heeft nog geen kind!</td>
                                }
                                <td>
                                @if (@parent.ChildId == null)
                                {
                                    <a href="@Url.Action("AddStudent", new { id = @parent.Id })" title="Give Parent a child: @parent.FirstName @parent.LastName"><i class="fa fa-plus"></i></a>
                                }
                                @if (@parent.ChildId != null)
                                {
                                   <a href="@Url.Action("DeleteStudent", new { id = @parent.Id })" title="Delete child from Parent: @parent.FirstName @parent.LastName"><i class="fa fa-trash"></i></a>
                                }
                                    <a href="@Url.Action("DeleteRoleParent", new { id = @parent.Id })" title="Delete role from parent: @parent.UserName"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No parents in the database!</p>
        }
    </div>
</div>