﻿@Html.AntiForgeryToken()
<div class="panel panel-default">
    @Html.ActionLink("Unassigned users", "Index", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Admins", "IndexAdmins", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Students", "IndexStudents", new { }, new { @class = "btn btn-default", @disabled = "disabled" })
    @Html.ActionLink("Teachers", "IndexTeachers", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Parents", "IndexParents", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Classtitulars", "IndexClasstitulars", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Secretaries", "IndexSecretaries", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Principals", "IndexPrincipals", new { }, new { @class = "btn btn-default" })
    @Html.ActionLink("Coordinators", "IndexCoordinators", new { }, new { @class = "btn btn-default" })
    <div class="panel-body">
        @if (ViewBag.Students != null)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Assign Class</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var student in ViewBag.Students)
                        {

                            <tr>
                                <td>@student.FirstName @student.LastName</td>
                                @if (student.ClassId != null)
                                {
                                    @ClassHelper.ClassTreeView(Classes: ViewBag.Classes, id: (Int32)student.ClassId)
                                }
                                else
                                {
                                    <td>Student heeft nog geen klas!</td>
                                }

                                
                                <td>
                                @if (@student.ClassId == null)
                                {
                                    <a href="@Url.Action("AddClass", new { id = @student.Id, departmentId = @student.DepartmentId })" title="Give Student a class: @student.FirstName @student.LastName"><i class="fa fa-plus"></i></a>
                                }
                                @if (@student.ClassId != null)
                                {
                                    <a href="@Url.Action("DeleteClass", new { id = @student.Id, departmentId = @student.DepartmentId })" title="Delete class from Student: @student.FirstName @student.LastName"><i class="fa fa-trash"></i></a>
                                }
                                <a href="@Url.Action("DeleteRoleStudent", new { id = @student.Id })" title="Delete role from student: @student.UserName"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Students in the database!</p>
        }
    </div>
</div>