﻿@model LudusCMS.Model.ViewModels.StudentViewModel
@{
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Assingn @Model.CurrentStudent.FirstName @Model.CurrentStudent.LastName to a class.
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="form-group">
                            @Html.LabelFor(m => m.CurrentStudent.ClassId)
                            @Html.DropDownListFor(m => m.CurrentStudent.ClassId, new SelectList(Model.Classes, "Id", "Name"), "-- Select the class the student belongs to --", new { @class = "form-control" })
                        </div>
                        @Html.ActionLink("Back to the list", "Index", new { }, new { @class = "btn btn-default" })
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>