﻿@model LudusCMS.Model.Viewmodels.UserRoleViewModel

@{
   
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add a role to a user
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Create a new user</legend>
                        @Html.ValidationSummary("", new { @class = "alert-danger" })

                        <div class="form-group">
                            @Html.LabelFor(m => m.userrole.UserId)
                            @Html.DropDownListFor(m => m.userrole.UserId, new SelectList(Model.users, "Id", "Username"), "-- Select  Role --", new { @class = "form-control", @readonly="readonly" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.userrole.RoleId)
                            @Html.DropDownListFor(m => m.userrole.RoleId, new SelectList(Model.roles, "Id", "Name"), "-- Select  Role --", new { @class = "form-control" })
                        </div>
                        <input type="submit" value="Create" class="btn btn-default" />
                        @Html.ActionLink("Back to the list", "Index", new { }, new { @class = "btn btn-primairy" })
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>