﻿@model IEnumerable<LudusCMS.Model.ApplicationUser>
@{ ViewBag.Title = "Classtitulars";
       ViewBag.SubTitle = "Overview of the classtitulars";
       Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
 }

<div class="row">
    <section class="col-xs-12" id="classtitulars-list">
        @{Html.RenderPartial("_ListPartialClasstitulars", Model);}
    </section>
</div>
@section Scripts {
    <script>
        window.ConfirmManager.registerClickHandlers();
        window.ConfirmManager.registerModalHandlers();
    </script>
}