﻿@model IEnumerable<LudusCMS.Model.ApplicationUser>
@{ ViewBag.Title = "Secretaries";
 ViewBag.SubTitle = "Overview of the secretaries";
 Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section class="col-xs-12" id="secretaries-list">
        @{Html.RenderPartial("_ListPartialSecretaries", Model);}
    </section>
</div>
@section Scripts {
    <script>
        window.ConfirmManager.registerClickHandlers();
        window.ConfirmManager.registerModalHandlers();
    </script>
}