﻿@model IEnumerable<LudusCMS.Model.ApplicationUser>
@{
    ViewBag.Title = "Users";
    ViewBag.SubTitle = "Overview of the unassigned users";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section class="col-xs-12" id="users-list">
        @{Html.RenderPartial("_ListPartial", Model);}
    </section>
</div>

@section Scripts {
    <script>
        window.ConfirmManager.registerClickHandlers();
        window.ConfirmManager.registerModalHandlers();
    </script>
}