﻿@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Person", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (ViewBag.Persons != null)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Firstname:</th>
                            <th>Lastname:</th>
                            <th>Birthday:</th>
                            <th>Email:</th>
                            <th>Department:</th>
                            
                            <th>Modified:</th>
                            <th>Actions:</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var person in ViewBag.Persons)
                        {

                            <tr data-id="person-@person.Id" data-title="@person.Id">
                                <td>@person.FirstName</td>
                                <td>@person.LastName</td>
                                <td>@person.DayOfBirth</td>
                                <td>@person.Email</td>
                                @if (person.DepartmentId != null)
                                {
                                    @PersonHelper.DepartmentTreeView(Departments: ViewBag.Departments, id: (Int32)person.DepartmentId)
                                }
                                else
                                {
                                    <td>Person heeft geen department!</td>
                                }

                              

                                <td>@person.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @person.Id })" title="Edit person: @person.FirstName"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @person.Id })" title="Delete person: @person.FirstName" data-id="@person.Id" data-cat="person" data-action="delete" data-update-href="@Url.Action("Index", "Person")" data-update-target="#persons-list"><i class="fa fa-trash"></i></a>
                                    @if (@person.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @person.Id })" title="Soft-undelete person: @person.FirstName" data-id="@person.Id" data-cat="person" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Person")" data-update-target="#persons-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @person.Id })" title="Soft-delete person: @person.FirstName" data-id="@person.Id" data-cat="person" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Person")" data-update-target="#persons-list"><i class="fa fa-eye"></i></a>
                                    }
                                    <a href="@Url.Action("MakeUser", new { id = @person.Id })" title="make: @person.FirstName a user"><i class="fa fa-plus"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Persons in the database!</p>
        }
    </div>
</div>