﻿@model LudusCMS.Model.ViewModels.PersonViewModel
@{
   
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a new person
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Person</legend>
                        @Html.HiddenFor(m => m.Person.Id)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Person.FirstName)
                            @Html.TextBoxFor(m => m.Person.FirstName, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Person.LastName)
                            @Html.TextBoxFor(m => m.Person.LastName, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Person.DayOfBirth)
                            @Html.TextBoxFor(m => m.Person.DayOfBirth, new { @class = "form-control datepicker" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Person.Email)
                            @Html.TextBoxFor(m => m.Person.Email, new { @class = "form-control" })
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(m => m.Person.Department)
                            @Html.DropDownListFor(m => m.Person.DepartmentId, new SelectList(Model.Departments, "Id", "Name"), "-- Select a department --", new { @class = "form-control" })
                        </div>

                       
                        <input type="submit" value="Save" class="btn btn-default" />
                        @Html.ActionLink("Back to the list", "Index", new { }, new { @class = "btn btn-primairy" })
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>

@section Scripts {

    <script>
 // will trigger when the document is ready

        function getDate() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd
            }

            if (mm < 10) {
                mm = '0' + mm
            }

            today = dd + '/' + mm + '/' + yyyy;
            return today;
        }

          $(function() {
              $('.datepicker').datepicker({
                    dateFormat: "dd/mm/yy"
              }).val(getDate); //Initialise any date pickers
           });</script>

}
