﻿@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-body">
        @if (ViewBag.Students != null)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Modified</th>
                            <th>Assign Class</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        @foreach (var student in ViewBag.Students)
                        {

                          <tr>
                              <td>@student.FirstName @student.LastName</td>     
                              @if(student.ClassId != null)
                              {
                                  @ClassHelper.ClassTreeView(Classes: ViewBag.Classes, id: (Int32)student.ClassId)
                              }
                              else
                              {
                                  <td>Student heeft nog geen klas!</td>
                              }                       
                              
                              <td>@student.Updated</td>
                              <td><a href="@Url.Action("AddClass", new { id = @student.Id })" title="Give Student a class: @student.FirstName @student.LastName"><i class="fa fa-edit"></i></a></td>
                          </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Students in the database!</p>
        }
    </div>
</div>