﻿
@{
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Dashboard</h2>
            </div>
            <div class="panel-body">
                @{Html.RenderAction("CompAmountSchoolYears", "Component");}
                @{Html.RenderAction("CompAmountDepartments", "Component");}
                @{Html.RenderAction("CompAmountBlogs", "Component");}
                @{Html.RenderAction("CompAmountCategories", "Component");}
                @{Html.RenderAction("CompAmountCourses", "Component");}
                @{Html.RenderAction("CompAmountClassrooms", "Component");}
                @{Html.RenderAction("CompAmountClasses", "Component");}
                @{Html.RenderAction("CompAmountEvents", "Component");}
                @{Html.RenderAction("CompAmountEventcategories", "Component");}
                @{Html.RenderAction("CompAmountReportcards", "Component");}
                @{Html.RenderAction("CompAmountSchedules", "Component");}
                @{Html.RenderAction("CompAmountTags", "Component");}
                @{Html.RenderAction("CompAmountRoles", "Component");}
                @{Html.RenderAction("CompAmountUsers", "Component");}
                @{Html.RenderAction("CompAmountPersons", "Component");}
             </div>
          </div>
    </section>
</div>