﻿@model IPagedList<LudusCMS.Model.Message>

@using PagedList;
@using PagedList.Mvc;
@Html.ActionLink("Create a new Message", "Create", new { }, new { @class = "btn btn-default" })
@Html.ActionLink("Postvak Out", "IndexSended", new { }, new { @class = "btn btn-default" })
@if (Model != null & Model.Count() > 0)
{
 
    foreach (var Message in Model)
    {
        <div class="well well-lg">
            <article>
                <h4>@Html.ActionLink(@Message.Title, "Details", "Message", new { id = @Message.Id }, null)</h4>
                <blockquote>@Message.Subject</blockquote>
            </article>
            </div>
                }

                @Html.PagedListPager(Model, page => Url.Action("PVGetMessages", new { page = page, pageSize = 15 }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.Classic, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "messages-list", OnComplete = "OnPagedCompleteMessages" }))
                }
                else
                {
                <div class="well well-lg">
                    Geen messages beschikbaar!
                </div>
                }

