﻿@model LudusCMS.Model.ViewModels.MessageViewModel
@{
    
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}



<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a new Message
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Message</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Message.ReceiverId)
                            @*@Html.DropDownListFor(m => m.Message.ReceiverId, new MultiSelectList(Model.Receivers, "Id", "Username"), "-- Select a receiver --", new { @class = "form-control" })*@
                            
                            @Html.TextBox("Receiver", null, new { @class = "form-control" })
                            @Html.TextBoxFor(m => m.Message.ReceiverId, new { @class = "hidden", @id="ReceiverId" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Message.SenderId, new { @class = "hidden" })
                           @Html.TextAreaFor(m => m.Message.SenderId, new { @class = "form-control, hidden"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Message.Title)
                            @Html.TextBoxFor(m => m.Message.Title, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Message.Subject)
                            @Html.TextAreaFor(m => m.Message.Subject, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Message.Content)
                            @Html.TextAreaFor(m => m.Message.Content, new { @class = "form-control", rows = 10, cols = 100 })
                        </div>
                        <input type="submit" value="Create" class="btn btn-default" />
                        @Html.ActionLink("Back to the list", "Index", new { }, new { @class = "btn btn-primairy" })
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>
@section Scripts {
<script>


    $(document).ready(function () {
        $("#Receiver").autocomplete({
            source: '@Url.Action("Autocomplete", "Message")',
            minLength: 3,
            select: function (event, ui) {
                event.preventDefault();
                $("#Receiver").val(ui.item.label);
                $("#ReceiverId").val(ui.item.value);
                
            },
            focus: function (event, ui) {
                event.preventDefault();
                $("#Receiver").val(ui.item.label);
            }
                

        });

    })
</script>
}