﻿@model LudusCMS.Model.ViewModels.MessageViewModel

@{
    ViewBag.SubTitle = "Detail of a message ";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<a href="@Url.Action("Reply", new { id = @Model.Message.Id })" title="Reply to: @Model.Message.Title"><i>Reply</i></a>

    <div class="container main-content">
        <article class="large-post">
            <h2 class="title-blog">@Model.Message.Title</h2>
            <p>
                <small>van:  @EmailHelper.EmailTreeView(Users: ViewBag.Users, id: (Int32)@Model.Message.SenderId)</small>
            </p>
            <p>
                <small>Onderwerp: @Model.Message.Subject</small>
            </p>
            <section class="post-content">
                <div class="well well-lg">
                    @Html.Raw(@Model.Message.Content)
                    </div>


            </section>
           

        </article>
    </div>

