﻿@model IEnumerable<LudusCMS.Model.Message>

@{
    ViewBag.Title = "Berichten";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@if (User.Identity.IsAuthenticated)
    {

    <div class="container main-content">
        <section id="messages-list">
            @{Html.RenderAction("PVGetMessages", "Message", new { pageSize = 15 });}
        </section>
    </div>

    }
else
{
    Response.Redirect(Url.Action("Login", "Account"));
}