﻿@model IEnumerable<LudusCMS.Model.Message>

@{
    ViewBag.Title = "Sended Messages";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container main-content">
    <section id="sended-messages-list">
        @{Html.RenderAction("PVGetSendedMessages", "Message", new { pageSize = 15 });}
    </section>
</div>

