﻿@model LudusCMS.Model.ViewModels.MessageViewModel

@{
    ViewBag.SubTitle = "Detail of a sended message ";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container main-content">
    <article class="large-post">
        <h2 class="title-blog">@Model.Message.Title</h2>
        <p>
            <small>van: @EmailHelper.EmailTreeView(Users: ViewBag.Users, id: (Int32)@Model.Message.SenderId)</small>
        </p>
        <p>
            <small>Onderwerp: @Model.Message.Subject</small>
        </p>
        <section class="post-content">
            <div class="well well-lg">
                @Html.Raw(@Model.Message.Content)
            </div>


        </section>

    </article>
</div>

