﻿@model IEnumerable<LudusCMS.Model.Class>
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Class", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Department</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var klaslokaal in Model)
                        {
                            @Html.AntiForgeryToken()
                            <tr data-id="class-@klaslokaal.Id" data-title="@klaslokaal.Name">
                                <td><a href="@Url.Action("Details", new { id = @klaslokaal.Id })" title="details: @klaslokaal.Name">@klaslokaal.Name</a></td>
                                <td>@klaslokaal.Description</td>
                                @if (klaslokaal.DepartmentId != null)
                                {
                                    @DepartmentHelper.DepartmentTreeView(Departments: ViewBag.Departments, id: (Int32)klaslokaal.DepartmentId)
                                }
                                else
                                {
                                    <td>Class heeft geen department!</td>
                                }
                                <td>@klaslokaal.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @klaslokaal.Id })" title="Edit klaslokaal: @klaslokaal.Name"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @klaslokaal.Id })" title="Delete class: @klaslokaal.Name" data-id="@klaslokaal.Id"  data-cat="class" data-action="delete" data-update-href="@Url.Action("Index", "Class")" data-update-target="#classes-list"><i class="fa fa-trash"></i></a>
                                    @if (@klaslokaal.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @klaslokaal.Id })" title="Soft-undelete class: @klaslokaal.Name" data-id="@klaslokaal.Id" data-cat="class" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Class")" data-update-target="#classes-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @klaslokaal.Id })" title="Soft-delete class: @klaslokaal.Name" data-id="@klaslokaal.Id" data-cat="class" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Class")" data-update-target="#classes-list"><i class="fa fa-eye"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Classes in the database!</p>
        }
    </div>
    <div class="panel-footer">
       
    </div>
</div>
