﻿@model IEnumerable<LudusCMS.Model.ApplicationUser>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">

        
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>

                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in Model)
                        {
                            <tr data-id="student-@student.Id" data-title="@student.FirstName">
                                <td>@student.FirstName @student.LastName</td>

                                
                                <td><a href="@Url.Action("DeleteClass", new { id = @student.Id, departmentId = @student.DepartmentId })" title="Delete clas from Student: @student.FirstName @student.LastName"><i class="fa fa-trash"></i></a></td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Students in this class!</p>
        }
    </div>
    <div class="panel-footer">

    </div>
</div>
