﻿@model IEnumerable<LudusCMS.Model.ApplicationUser>
@{
    ViewBag.Title = "Students in class";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section class="col-xs-12" id="classes-list">
        @{Html.RenderPartial("_ListPartialDetails", Model);}
    </section>
</div>
@section Scripts {
    <script>
        window.ConfirmManager.registerClickHandlers();
        window.ConfirmManager.registerModalHandlers();
    </script>
}

