﻿
@model LudusCMS.Model.ViewModels.ClassViewModel
@{
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit an existing class
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Class</legend>
                        @Html.HiddenFor(m => m.Class.Id)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Class.Name)
                            @Html.TextBoxFor(m => m.Class.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Class.Description)
                            @Html.TextAreaFor(m => m.Class.Description, new { @class = "form-control", rows = 4, cols = 100 })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Class.Department)
                            @Html.DropDownListFor(m => m.Class.DepartmentId, new SelectList(Model.Departments, "Id", "Name"), "-- Select a department --", new { @class = "form-control" })
                        </div>

                       
                        <input type="submit" value="Save" class="btn btn-default" />
                        @Html.ActionLink("Back to the list", "Index", new { }, new { @class = "btn btn-primairy" })
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>


