﻿@model LudusCMS.Model.ViewModels.ScheduleColumnViewModel
@{
    
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit an existing column
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">ScheduleColumn</legend>
                        @Html.HiddenFor(m => m.ScheduleColumn.Id)
                        <div class="form-group">
                            @Html.LabelFor(m => m.ScheduleColumn.ClassId)
                            @Html.DropDownListFor(m => m.ScheduleColumn.ClassId, new SelectList(Model.Classes, "Id", "Name"), "-- Select a class --", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ScheduleColumn.ScheduleId, new { @class = "hidden" })
                            @Html.TextBoxFor(m => m.ScheduleColumn.ScheduleId, new { @class = "hidden" })
                        </div>
                        <input type="submit" value="Save" class="btn btn-default">
                        @Html.ActionLink("Back to the list", "Index","Schedule", new { }, new { @class = "btn btn-primairy" })
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>

