﻿@helper ClassroomTreeView(IEnumerable<LudusCMS.Model.Classroom> Classrooms, int id)
{
    var Url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);

    if (@Classrooms != null && Classrooms.Count() > 0)
    {
        foreach (var classroom in Classrooms)
        {
            if (classroom.Id == id)
            {
                @classroom.Name
            }
        }
    }
    else
    {
            <p>Er is een fout opgetreden!</p>
    }
}