﻿@helper ClassTreeView(IEnumerable<LudusCMS.Model.Class> Classes, int id)
{
    var Url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);

    if (@Classes != null && Classes.Count() > 0)
    {
        foreach (var currentclass in Classes)
        {
            if (currentclass.Id == id)
            {
                @currentclass.Name
            }
        }
    }
    else
    {
        <td>Help mij</td>
    }
}