﻿@helper CommentView(IEnumerable<LudusCMS.Model.Comment> comments, IEnumerable<LudusCMS.Model.ApplicationUser> users, int postId, int? userId, string ajaxUpdateTargetId)
{
    var Url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);
    var Html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;

    if (@comments != null && comments.Count() > 0)
    {
        foreach (var comment in comments)
        {
            <article class="media">
                <div class="media-body">
                    
                    @if (@comment.UserId != null)
                    {
                        <h4>@UserHelper.UserTreeView(users, (Int32)comment.UserId)</h4>
                    }
                    @Html.Raw(@comment.Content)
                </div>
         </article>
        }

    }
}