﻿@helper CourseTreeView(IEnumerable<LudusCMS.Model.Course> Courses, int id)
{
    var Url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);

    if (@Courses != null && Courses.Count() > 0)
    {
        foreach (var currentCourse in Courses)
        {
            if (currentCourse.Id == id)
            {
                @currentCourse.Name
            }
        }
    }
    else
    {
        <p>Er is een fout opgetreden</p>
    }
}