﻿@helper DepartmentTreeView(IEnumerable<LudusCMS.Model.Department> Departments, int id)
{
    var Url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);

    if (@Departments != null && Departments.Count() > 0)
    {
        foreach (var department in Departments)
        {
            if (department.Id == id)
            {
                <td>@department.Name</td>
            }
        }
    }
    else
    {
        <td>Er is een fout opgetreden!</td>
    }
}