﻿@helper EventView(IEnumerable<LudusCMS.Model.Event> Events, IEnumerable<LudusCMS.Model.EventCategory> Categories, int id)
{
    var Url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);

    if (@Events != null && Events.Count() > 0)
    {       
        foreach (var evenement in Events)
        {
            if (evenement.CourseId == id)
            {
                <div>@EventCategoryHelper.ClassTreeView(Categories, (Int32)evenement.EventCategoryId)</div>
                <div><strong>Naam:</strong> @evenement.Name</div>
                <div><strong>Wat:</strong> @evenement.Description</div>
                <div><strong>Start:</strong> @evenement.Start_Date.ToShortDateString()</div>
                <div><strong>Einde:</strong> @evenement.End_Date.ToShortDateString()</div>
            }
        }
    }
    else
    {
        <td>geen eventcategory beschikbaar</td>
    }
}