﻿@helper ClassTreeView(IEnumerable<LudusCMS.Model.EventCategory> Eventcategories, int id)
{
    var Url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);

    if (@Eventcategories != null && Eventcategories.Count() > 0)
    {
        foreach (var category in Eventcategories)
        {
            if (category.Id == id)
            {
                <h3>@category.Name</h3>
            }
        }
    }
    else
    {
        <td>Help mij</td>
    }
}