﻿@helper DepartmentTreeView(IEnumerable<LudusCMS.Model.Department> Departments, int id)
{
    var Url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);
   
    if (@Departments != null && Departments.Count() > 0)
    {
        foreach (var currentdepartment in Departments)
        {
            if (currentdepartment.Id == id)
            {
                <td>@currentdepartment.Name</td>
            }
        }
    }
    else
    {
        <td>Help mij</td>   
    }
}