﻿@helper RoleTreeView(IEnumerable<LudusCMS.Model.ApplicationRole> Roles, int id)
{
    var Url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);
   
    if (@Roles != null && Roles.Count() > 0)
    {
        foreach (var currentrole in Roles)
        {
            if (currentrole.Id == id)
            {
                <td>@currentrole.Name</td>
            }
        }
    }
    else
    {
        <td>Help mij</td>   
    }
}