﻿@helper SchoolyearTreeView(IEnumerable<LudusCMS.Model.SchoolYear> Schoolyears, int id)
{
    var Url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);

    if (@Schoolyears != null && Schoolyears.Count() > 0)
    {
        foreach (var schoolyear in Schoolyears)
        {
            if (schoolyear.Id == id)
            {
                <td>@schoolyear.Name</td>
            }
        }
    }
    else
    {
        <td>Er is een fout opgetreden!</td>
    }
}