﻿@helper StudentTreeView(IEnumerable<LudusCMS.Model.ApplicationUser> Students, int id)
{
    var Url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);

    if (@Students != null && Students.Count() > 0)
    {
        foreach (var currentstudent in Students)
        {
            if (currentstudent.Id == id)
            {
                <td>@currentstudent.UserName</td>
            }
        }
    }
    else
    {
        <td>Help mij</td>
    }
}