﻿@helper UserTreeView(IEnumerable<LudusCMS.Model.ApplicationUser> Users, int id)
{
    var Url = new System.Web.Mvc.UrlHelper(Context.Request.RequestContext);

    if (@Users != null && Users.Count() > 0)
    {
        foreach (var user in Users)
        {
            if (user.Id == id)
            {
                <p>@user.FirstName @user.LastName</p>
            }
        }
    }
    else
    {
        <td>Help mij</td>
    }
}