﻿@model LudusCMS.Model.Blog

@using Microsoft.AspNet.Identity;


<h3 id="comments-title">Comments</h3>
<section id="comments-list-blog-@Model.Id">
    @{Html.RenderAction("GetCommentsByBlogAsPagedList", "Blog", new { blogId = @Model.Id, userId = Convert.ToInt32(@User.Identity.GetUserId()), page = 1, pageSize = 10 });}
</section>

<section>
    @if (Context.Request.IsAuthenticated)
    {
        <h3>Voeg uw eigen commentaar toe</h3>
        Html.RenderAction("CreateCommentForBlog", "Blog", new { blogId = @Model.Id, userId = Convert.ToInt32(@User.Identity.GetUserId()), ajaxUpdateTargetId = "comments-list-blog-" + @Model.Id });
    }
    else
    {
        <div class="well well-lg">
            <span>Gelieve in te loggen om commentaren toe te voegen!</span>
            @Html.ActionLink("Login", "Login", "Account", new { returnUrl = Request.RawUrl }, new { @class = "btn btn-default pull-right" })
        </div>
    }
</section>

