﻿@model LudusCMS.Model.ViewModels.CreateCommentForBlogViewModel
@using (Ajax.BeginForm(
    "CreateCommentForBlog",
    "Blog",
    null,
    new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = @Model.AJAXUpdateTargetId },
    new { id = "form-create-comment-post-" + @Model.BlogId }
    ))
{
    @Html.HiddenFor(m => m.BlogId)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.ParentCommentId)
    @Html.HiddenFor(m => m.AJAXUpdateTargetId)
    @Html.HiddenFor(m => m.UserAvatar)

    @Html.LabelFor(m => m.Comment.Content, new { @class = "hidden" })

    <article class="media">
        <div class="media-body">
            @Html.TextAreaFor(m => m.Comment.Content, new { @class = "form-control commentbox", placeholder = "Schrijf hier jouw commentaar." })
            @Html.ValidationMessageFor(m => m.Comment.Content, "", new { @class = "label label-danger" })
            <button type="submit" class="btn btn-primary btnsubmit">
                <i class="fa fa-paper-plane"></i>
                Toevoegen
            </button>
        </div>
    </article>
}

