﻿@model IPagedList<LudusCMS.Model.Blog>

@using PagedList;
@using PagedList.Mvc;

@if (Model != null & Model.Count() > 0)
{
    foreach (var Blog in Model)
    {
        <article>
            <h3>@Html.ActionLink(@Blog.Title, "Details", "Blog", new { id = @Blog.Id }, null)</h3>
            <blockquote>@Blog.Synopsis</blockquote>
            <p>@Blog.Department</p>
            @Html.ActionLink("Meer info...", "Details", "Blog", new { id = @Blog.Id }, new { @class = "btn " })
        </article>
    }

    @Html.PagedListPager(Model, page => Url.Action("PVGetBlogs", new { page = page, pageSize = 5 }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.Classic, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "blogs-list", OnComplete = "OnPagedCompleteBlogs" }))
}
else
{
    <div class="well well-lg">
        Geen blogs beschikbaar!
    </div>
}
