﻿@model LudusCMS.Model.ViewModels.CommentsByBlogViewModel
@using PagedList;
@using PagedList.Mvc;

@if (Model.Comments != null && Model.Comments.Count() > 0)
{
    

    <section class="paged-content">
        @CommentHelpers.CommentView(comments: Model.Comments, users: ViewBag.Users, postId: Model.BlogId, userId: Model.UserId, ajaxUpdateTargetId: "comments-list-blog-" + Model.BlogId)
    </section>

    <section class="paged-navigation">
        @Html.PagedListPager(Model.Comments, page => Url.Action("GetCommentsByBlogAsPagedList", new { page = page, pageSize = 10, blogId = Model.BlogId, userId = Model.UserId }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.Classic, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "comments-list-blog-" + Model.BlogId }))
    </section>
}
else
{
    <div class="well well-lg">
        Geen commentaren beschikbaar!
    </div>
}

