﻿@model LudusCMS.Model.ViewModels.BlogViewModel

@{
    ViewBag.SubTitle = "Algemeen nieuws van het Ludus platform";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="container main-content">
        <article class="large-post">
            <h1 class="title-blog">@Model.Blog.Title</h1>
            <p>
                <small>Voor: @DepartmentHelper.DepartmentTreeView(@Model.Departments, (Int32)@Model.Blog.DepartmentId)</small>
            </p>
            <p>
                <strong>@Model.Blog.Synopsis</strong>
            </p>
            <section class="post-content">
                @Html.Raw(@Model.Blog.Content)
            </section>
            @if (Model.Tags != null && Model.Blog.Tags.Count > 0)
            {
                <section class="post-footer-meta categorysection">
                    <h4>Tags</h4>
                    <ul class="post-tags">
                        @foreach (var tag in Model.Blog.Tags)
                        {
                            <li>@tag.Name</li>
                        }
                    </ul>
                </section>
            }
            @if (Model.Blog.Categories != null && Model.Blog.Categories.Count > 0)
            {
                <section class="post-header-meta categorysection">
                    <h4>Categories</h4>
                    <ul class="post-categories">
                        @foreach (var category in Model.Blog.Categories)
                        {
                            <li>
                                @category.Name
                            </li>
                        }
                    </ul>
                </section>
            }
            
            <section id="module-comments-blog-@Model.Blog.Id" class="module-comments">
                @{Html.RenderPartial("_CommentsByBlogModule", @Model.Blog);}
            </section>

        </article>
        </div>
        }
        else
        {
        Response.Redirect(Url.Action("Login", "Account"));
        }
