﻿@model IEnumerable<LudusCMS.Model.Blog>

@{
    ViewBag.Title = "Blog";
    ViewBag.SubTitle = "Blog van de Arteveldehogeschool";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    <div class="container main-content">
        <section id="blogs-list">
            @{Html.RenderAction("PVGetBlogs", "Blog", new { pageSize = 5 });}
        </section>
    </div>
}
else
{
    Response.Redirect(Url.Action("Login", "Account"));
}