﻿@model IEnumerable<LudusCMS.Model.Blog>
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Blog", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Synopsis</th>
                            <th>Department</th>
                            <th>Categories</th>
                            <th>Tags</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var blog in Model)
                        {
                            <tr data-id="blog-@blog.Id" data-title="@blog.Title">
                                <td>@blog.Title</td>
                                <td>@blog.Synopsis</td>
                                @if (blog.Department != null)
                                {
                                    <td>@blog.Department.Name</td>
                                }
                                else
                                {
                                    <td>Geen specifiek departement</td>
                                }
                                <td>
                                    <ul>
                                        @if (blog.Categories != null && blog.Categories.Count > 0)
                                        {
                                            foreach (var cat in @blog.Categories)
                                            {
                                                <li>@cat.Name</li>
                                            }
                                        }
                                        else
                                        {
                                            <p>Er zijn geen categorieën geselecteerd voor deze post!</p>   
                                        }
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                    @if (blog.Tags != null && blog.Tags.Count > 0)
                                    {
                                       foreach (var tag in @blog.Tags)
                                       {
                                        <li>@tag.Name</li>
                                       }
                                    }
                                    else
                                    {
                                        <p>Er zijn geen tags geselecteerd voor deze post!</p>
                                    }                                    
                                    </ul>
                                </td>
                                <td>@blog.Updated</td>
                                <td>
                                    @Html.AntiForgeryToken()
                                    <a href="@Url.Action("Edit", new { id = @blog.Id })" title="Edit blog: @blog.Title"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @blog.Id })" title="Delete blog: @blog.Title" data-id="@blog.Id" data-cat="blog" data-action="delete" data-update-href="@Url.Action("Index", "Blog")" data-update-target="#blogs-list"><i class="fa fa-trash"></i></a>
                                    @if (@blog.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @blog.Id })" title="Soft-undelete blog: @blog.Title" data-id="@blog.Id" data-cat="blog" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Blog")" data-update-target="#blogs-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @blog.Id })" title="Soft-delete blog: @blog.Title" data-id="@blog.Id" data-cat="blog" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Blog")" data-update-target="#blogs-list"><i class="fa fa-eye"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Blogs in the database!</p>
        }
    </div>
    <div class="panel-footer">
       
    </div>
</div>

