﻿@model LudusCMS.Model.ViewModels.BlogViewModel
@{
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a new post
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Post</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Blog.Title)
                            @Html.TextBoxFor(m => m.Blog.Title, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Blog.Synopsis)
                            @Html.TextAreaFor(m => m.Blog.Synopsis, new { @class = "form-control", rows = 4, cols = 100 })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Blog.Content)
                            @Html.TextAreaFor(m => m.Blog.Content, new { @class = "form-control ckeditor", rows = 16, cols = 100 })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Blog.Department)
                            @Html.DropDownListFor(m => m.Blog.DepartmentId, new SelectList(Model.Departments, "Id", "Name"), "-- Select a department --", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Blog.Categories)
                            @Html.ListBoxFor(m => m.SelectedCategoryIds, Model.Categories, new { multiple = "multiple", @class = "chzn-select form-control", placeholder = "Choose one or more categories ..." })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Blog.Tags)
                            @Html.ListBoxFor(m => m.SelectedTagIds, Model.Tags, new { multiple = "multiple", @class = "chzn-select form-control", placeholder = "Choose one or more tags ..." })
                        </div>
                        <input type="submit" value="Create" class="btn btn-default" />
                        @Html.ActionLink("Back to the list", "Index", new { }, new { @class = "btn btn-primairy" })
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/chosen")
    <script>(function () { $('#SelectedCategoryIds.chzn-select').chosen(); })();</script>
    <script>(function () { $('#SelectedTagIds.chzn-select').chosen(); })();</script>
     }