﻿@model IEnumerable<LudusCMS.Model.Blog>
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
@Html.AntiForgeryToken()
<div class="row">
    <section class="col-xs-12" id="blogs-list">
        @{Html.RenderPartial("_ListPartial", Model);}
    </section>
</div>
@section Scripts {
    <script>
        window.ConfirmManager.registerClickHandlers();
        window.ConfirmManager.registerModalHandlers();
    </script>
}