﻿@model IEnumerable<LudusCMS.Model.Classroom>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Classroom", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var classroom in Model)
                        {
                            <tr data-id="classroom-@classroom.Id" data-title="@classroom.Name">
                                <td>@classroom.Name</td>
                                <td>@classroom.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @classroom.Id })" title="Edit classroom: @classroom.Name"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @classroom.Id })" t title="Delete classroom: @classroom.Name" data-id="@classroom.Id" d data-cat="classroom" data-action="delete" data-update-href="@Url.Action("Index", "Classroom")" data-update-target="#classrooms-list"><i class="fa fa-trash"></i></a>
                                    @if (@classroom.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @classroom.Id })" title="Soft-undelete classroom: @classroom.Name" data-id="@classroom.Id" data-cat="classroom" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Classroom")" data-update-target="#classrooms-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @classroom.Id })" title="Soft-delete classroom: @classroom.Name" data-id="@classroom.Id" data-cat="classroom" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Classroom")" data-update-target="#classrooms-list"><i class="fa fa-eye"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Classrooms in the database!</p>
        }
    </div>
    <div class="panel-footer">
       
    </div>
</div>
