﻿@model IEnumerable<LudusCMS.Model.ReportcardRow>

@if (Model != null & Model.Count() > 0)
{
   
        <article>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Vak</th>
                            <th>Taken</th>
                            <th>Toetsen</th>
                            <th>Totaal</th>                        
                            <th>Opmerkingen</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reportcardrow in Model)
                        {
                            <tr>
                                <td class="rapporttabel">@CourseFrontEndHelper.CourseTreeView(ViewBag.Classes, (Int32)@reportcardrow.CourseId)</td>
                                <td>@reportcardrow.TaskTotal %</td>
                                <td>@reportcardrow.TestTotal %</td>
                                <td>@reportcardrow.TotalScore %</td>
                                <td>@reportcardrow.Description</td>
                            </tr>
                        }
                        <tr>
                            <td>Gemiddelde</td>
                            <td>@ViewBag.gemiddelde %</td>
                        </tr>
                    </tbody>
                </table>
               
            </div>



        </article>
    
}


else
{
    <div class="well well-lg">
        Geen Rows beschikbaar!
    </div>
}

