﻿@model IEnumerable<LudusCMS.Model.Reportcard>
@using Microsoft.AspNet.Identity;
<div class="panel-body">
    @if (Model != null && Model.Count() > 0)
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rapport</th>
                        <th>Handtekening 1</th>
                        <th>Handtekening 2</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var reportcard in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(@reportcard.Title.ToString(), "Details", "Reportcard", new { id = @reportcard.Id }, null)</td>
                            @if (reportcard.Signature1 != 0)
                            {
                                @UserReportcardFrontofficeHelper.UserReportcardFrontofficeTreeView(Users: ViewBag.Users, id: (Int32)reportcard.Signature1)
                            }
                            else
                            {
                                <td>No Signature!</td>
                            }
                            @if (reportcard.Signature2 != 0)
                            {
                                @UserReportcardFrontofficeHelper.UserReportcardFrontofficeTreeView(Users: ViewBag.Users, id: (Int32)reportcard.Signature2)
                            }
                            else
                            {
                                <td>No Signature!</td>
                            }

                            @if (User.IsInRole("Parent"))
                            {
                                if (@reportcard.Signature1 != Convert.ToInt16(User.Identity.GetUserId()) && @reportcard.Signature2 != Convert.ToInt16(User.Identity.GetUserId()))
                                { 
                                    if(@reportcard.Signature1 == 0 && @reportcard.Signature2 == 0 )
                                    { 
                                        <td>@Html.ActionLink("Onderteken", "Sign", "Reportcard", new { id = @reportcard.Id }, null)</td>
                                    }
                                    if (@reportcard.Signature1 != 0 && @reportcard.Signature2 == 0)
                                    {
                                        <td>@Html.ActionLink("Onderteken", "Sign2", "Reportcard", new { id = @reportcard.Id }, null)</td>
                                    }
                                }

                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No Reportcards in the database!</p>
    }
</div>



