﻿@model LudusCMS.Model.Reportcard
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
<article class="large-post">
 
    <h3>@Model.Title</h3>


    @{Html.RenderAction("PVGetReportcardRows", "Reportcard", new { id = @Model.Id });}
</article>
}
else
{
    Response.Redirect(Url.Action("Login", "Account"));
}

