﻿@model LudusCMS.Model.Reportcard

@{
    ViewBag.Title = "Reportcard";
    ViewBag.SubTitle = "Reportcard Ludus";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section>
    <article>
        <h3>Error</h3>
        <p>We hebben jouw rapport niet gevonden. Excuses voor het ongemak, probeer het later opnieuw!</p>
    </article>
</section>