﻿@model IEnumerable<LudusCMS.Model.Reportcard>

@{
    ViewBag.Title = "Reportcards";
    ViewBag.SubTitle = "Reportcards Ludus";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@if (User.Identity.IsAuthenticated)
{

<section id="course-list">
    @{Html.RenderAction("PVGetReportcards", "Reportcard", new { });}
</section>
}
else
{
    Response.Redirect(Url.Action("Login", "Account"));
}