﻿<div id="side-bar">
    <div id="logo">
        <p>Logo Placeholder</p>
    </div>
    <div id="navigation">
        <ul>
            <li class="active"><a href="index.html"><i class="fa fa-envelope"></i>Posts</a></li>
            <li><a href="pages/CreatePost.html"><i class="fa fa-users"></i>Friends</a></li>
            <li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
        </ul>
    </div>
    <div id="footer">
        &copy; Designed and developed by Robby & Florian
    </div>
</div>