﻿<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "Backoffice" })">Backoffice</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
@if (Request.IsAuthenticated)
    {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @User.Identity.Name <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        @using (Html.BeginForm("LogOff", "../Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        }

                    </li>
                   
                </ul>
            </li>
     }
                    else {
                    <li><a href="@Url.Action("Login", "Account")" title="Inloggen"><i class="fa fa-fw fa-power-on"></i> Log in</a></li>
                    }
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-inverse side-nav">
               
              @if (User.IsInRole("Admin") || User.IsInRole("Principal"))
              {
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#schoolyears"><i class="fa fa-calendar-o"></i> Schoolyears <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="schoolyears" class="collapse">
                        <li>
                            <a href="@Url.Action("Index", "SchoolYear")">All schoolyears</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Create", "SchoolYear")">Add New</a>
                        </li>
                    </ul>
                </li>
               }
               
              @if (User.IsInRole("Admin") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
              {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#departments"><i class="fa fa-university"></i> Departments <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="departments" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Department")">All departments</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Department")">Add New</a>
                            </li>
                        </ul>
                    </li>
                }
                
              @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
              {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#blogs"><i class="fa fa-newspaper-o"></i> Blogs <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="blogs" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Blog")">All blogs</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Blog")">Add New</a>
                            </li>
                        </ul>
                    </li>
                }
                
               @if (User.IsInRole("Admin") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
               {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#categories"><i class="fa fa-sort-alpha-asc"></i> Categories <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="categories" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Category")">All categories</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Category")">Add New</a>
                            </li>
                        </ul>
                    </li>
                }
              @if (User.IsInRole("Admin") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
              {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#classes"><i class="fa fa-graduation-cap"></i> Classes <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="classes" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Class")">All classes</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Class")">Add New</a>
                            </li>
                        </ul>
                    </li>
                }
                
               @if (User.IsInRole("Admin") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
               {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#classrooms"><i class="fa fa-building"></i> Classroom <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="classrooms" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Classroom")">All classrooms</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Classroom")">Add New</a>
                            </li>
                        </ul>
                    </li>
                }
                
               @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
               {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#courses"><i class="fa fa-book"></i> Courses <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="courses" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Course")">All courses</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Course")">Add New</a>
                            </li>
                        </ul>
                    </li>
                }
                
               @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
               {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#evenementen"><i class="fa fa-rocket"></i> Events <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="evenementen" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Event")">All events</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Event")">Add New</a>
                            </li>
                        </ul>
                    </li>
                }
                
              @if (User.IsInRole("Admin") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
              {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#eventcategories"><i class="fa fa-tags"></i> Eentcategories <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="eventcategories" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Eventcategory")">All eventcategories</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Eventcategory")">Add New</a>
                            </li>
                        </ul>
                    </li>
                }
                
              @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
              {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#reportcards"><i class="fa fa-line-chart"></i> Reportcards <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="reportcards" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Reportcard")">All reportcards</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Reportcard")">Add New</a>
                            </li>
                        </ul>
                    </li>
                }
                
               @if (User.IsInRole("Admin") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
               {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#schedules"><i class="fa fa-calendar"></i> Schedules <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="schedules" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Schedule")">All schedules</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Schedule")">Add New</a>
                            </li>
                        </ul>
                    </li>
                }
                
               @if (User.IsInRole("Admin") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
               {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#tags"><i class="fa fa-tag"></i> Tags <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="tags" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Tag")">All tags</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Tag")">Add New</a>
                            </li>
                        </ul>
                    </li>
                }
                
                
                @if (User.IsInRole("Admin") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
                {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#roles"><i class="fa fa-info"></i> Roles <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="roles" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Role")">All roles</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Role")">Add New</a>
                            </li>
                        </ul>
                    </li>
                }
                
              @if (User.IsInRole("Admin") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
            {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#users"><i class="fa fa-users"></i> Users <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="users" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Gebruiker")">All users</a>
                            </li>
                        </ul>
                    </li>
                }
                
                @if (User.IsInRole("Admin") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
                {
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#persons"><i class="fa fa-users"></i> Persons <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="persons" class="collapse">
                            <li>
                                <a href="@Url.Action("Index", "Person")">All persons</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "Person")">Add New person</a>
                            </li>
                            
                        </ul>
                    </li>
                }
               @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
               {
                   <li>
                       <a href="@Url.Action("Index", "Home", new { area = "" })"><i class="fa fa-fw fa-power-off"></i> Beheer sluiten</a>
                    </li>
                }
               
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>

