﻿@model IEnumerable<LudusCMS.Model.Event>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Event", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Department</th>
                            <th>Course</th>
                            <th>Class</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var evenement in Model)
                        {
                            <tr data-id="event-@evenement.Id" data-title="@evenement.Name">
                                <td>@evenement.Name</td>
                                <td>@evenement.Description</td>
                                <td>@evenement.Start_Date</td>
                                <td>@evenement.End_Date</td>
                                @if (evenement.DepartmentId != null)
                                {
                                    @DepartmentHelper.DepartmentTreeView(Departments: ViewBag.Departments, id: (Int32)evenement.DepartmentId)
                                }
                                else
                                {
                                    <td>voor alle departments!</td>
                                }

                                @if (evenement.CourseId != null)
                                {
                                    @CourseHelper.CourseTreeView(Courses: ViewBag.Courses, id: (Int32)evenement.CourseId)
                                }
                                else
                                {
                                    <td>voor alle vakken!</td>
                                }

                                @if (evenement.ClassId != null)
                                {
                                    @ClassHelper.ClassTreeView(Classes: ViewBag.Classes, id: (Int32)evenement.ClassId)
                                }
                                else
                                {
                                    <td>voor alle klassen!</td>
                                }

                                <td>@evenement.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @evenement.Id })" title="Edit event: @evenement.Name"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @evenement.Id })" t title="Delete event: @evenement.Name" data-id="@evenement.Id" data-cat="event" data-action="delete" data-update-href="@Url.Action("Index", "Event")" data-update-target="#events-list"><i class="fa fa-trash"></i></a>
                                    @if (@evenement.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @evenement.Id })" title="Soft-undelete event: @evenement.Name" data-id="@evenement.Id" data-cat="event" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Event")" data-update-target="#events-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @evenement.Id })" title="Soft-delete event: @evenement.Name" data-id="@evenement.Id" data-cat="event" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Event")" data-update-target="#events-list"><i class="fa fa-eye"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Events in the database!</p>
        }
    </div>
    <div class="panel-footer">
       
    </div>
</div>
