﻿@model LudusCMS.Model.ViewModels.EventViewModel
@{
   
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit an existing event
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Event</legend>
                        @Html.HiddenFor(m => m.Event.Id)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Event.Name)
                            @Html.TextBoxFor(m => m.Event.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Event.Description)
                            @Html.TextAreaFor(m => m.Event.Description, new { @class = "form-control", rows = 4, cols = 100 })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Event.Start_Date)
                            @Html.TextBoxFor(m => m.Event.Start_Date, new { @class = "form-control datepicker" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Event.End_Date)
                            @Html.TextBoxFor(m => m.Event.End_Date, new { @class = "form-control datepicker" })
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(m => m.Event.EventCategory)
                            @Html.DropDownListFor(m => m.Event.EventCategoryId, new SelectList(Model.EventCategories, "Id", "Name"), "-- Select a category --", new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Event.Department)
                            @Html.DropDownListFor(m => m.Event.DepartmentId, new SelectList(Model.Departments, "Id", "Name"), "-- Select a department --", new { @class = "form-control", @Id = "drpHuccode" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Event.CourseId)
                            @Html.DropDownListFor(m => m.Event.CourseId, new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Name"), "-- Select the course your task belongs to --", new { @class = "form-control", @Id = "Course" })
                            @*@Html.DropDownListFor(m => m.Event.CourseId, new SelectList(Model.Courses, "Id", "Name" ), "-- Select the course your task belongs to --", new { @class = "form-control" })*@
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Event.Class)
                            @Html.DropDownListFor(m => m.Event.ClassId, new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Name"), "-- Select a class --", new { @class = "form-control", @Id = "Class" })
                        </div>
                        
                        <input type="submit" value="Save" class="btn btn-default" />
                        @Html.ActionLink("Back to the list", "Index", new { }, new { @class = "btn btn-primairy" })
                    </fieldset>
                }
            </div>
        </div>
    </section>
    </div>

@section Scripts {
<script>
 // will trigger when the document is ready

           
    function getDate() {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();




        today = dd + '/' + mm + '/' + yyyy;
        return today;
    }

    $(function () {
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
        }).val(getDate); //Initialise any date pickers
    });

    $(function () {
        $.validator.addMethod('date',
        function (value, element) {
            if (this.optional(element)) {
                return true;
            }
            var ok = true;
            try {
                $.datepicker.parseDate('dd/mm/yy', value);
            }
            catch (err) {
                ok = false;
            }
            return ok;
        });
        $(".datefield").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true });
    });


    // Loading other dropdownlists when department is selected
    $("#drpHuccode").change(function () {

        var selectedId = $("#drpHuccode").val(); // Gets the selected value of the dropdown

        // Now we wire up the jquery/ajax request

        $.ajax({
            url: '@Url.Action("LoadCourses", "Event")',
            data: { "huccode": selectedId },
            cache: false,
            type: "GET",
            success: function (courses) {
                $("#Course").html(""); // clear before appending new list 
                $.each(courses, function (i, course) {
                    $("#Course").append(
                        $('<option></option>').val(course.Id).html(course.Name));
                });
            }
        });

        $.ajax({
            url: '@Url.Action("LoadClasses", "Event")',
            data: { "huccode": selectedId },
            cache: false,
            type: "GET",
            success: function (classes) {
                $("#Class").html(""); // clear before appending new list 
                $.each(classes, function (i, klas) {
                    $("#Class").append(
                        $('<option></option>').val(klas.Id).html(klas.Name));
                });
            }
        });


        


    });

    $(document).ready(function () {

        var selectedId = $("#drpHuccode").val(); // Gets the selected value of the dropdown

        // Now we wire up the jquery/ajax request

        $.ajax({
            url: '@Url.Action("LoadCourses", "Event")',
            data: { "huccode": selectedId },
            cache: false,
            type: "GET",
            success: function (courses) {
                $("#Course").html(""); // clear before appending new list 
                $.each(courses, function (i, course) {
                    $("#Course").append(
                        $('<option></option>').val(course.Id).html(course.Name));
                });
            }
        });

        $.ajax({
            url: '@Url.Action("LoadClasses", "Event")',
            data: { "huccode": selectedId },
            cache: false,
            type: "GET",
            success: function (classes) {
                $("#Class").html(""); // clear before appending new list 
                $.each(classes, function (i, klas) {
                    $("#Class").append(
                        $('<option></option>').val(klas.Id).html(klas.Name));
                });
            }
        });
    });
    </script>
    }
