﻿@model IEnumerable<LudusCMS.Model.Event>
@{
    ViewBag.Title = "Events";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section class="col-xs-12" id="events-list">
        @{Html.RenderPartial("_ListPartial", Model);}
    </section>
</div>
@section Scripts {
    <script>
        window.ConfirmManager.registerClickHandlers();
        window.ConfirmManager.registerModalHandlers();
    </script>
}
