﻿@model IEnumerable<LudusCMS.Model.Event>
@{
    ViewBag.Title = "Agenda";
    ViewBag.SubTitle = "Agenda van Ludus";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
<div class="panel-body">
    @if (Model != null && Model.Count() > 0)
    {
        <div class="table-responsive">
           
            @foreach (var vakantie in Model)
            {
                <div class="well well-lg">
                    <h4 class="course-next-title"> @vakantie.Name</h4>
                    <p><strong>Wat:</strong> @vakantie.Description</p>
                    <p><strong>Start:</strong> @vakantie.Start_Date.ToShortDateString()</p>
                    <p><strong>Einde:</strong> @vakantie.End_Date.ToShortDateString()</p>
                    </div>
                    }
                </div>
    }
    else
    {
        <p>No Evenements in the database!</p>
    }
</div>
}
else
{
    Response.Redirect(Url.Action("Login", "Account"));
}