﻿@model IEnumerable<LudusCMS.Model.ScheduleRow>

@if (Model != null & Model.Count() > 0)
{
    foreach (var schedulerow in Model)
    {
         @Html.AntiForgeryToken()
        <td>@CourseFrontEndHelper.CourseTreeView(@ViewBag.Courses, schedulerow.CourseId)</td>


    <td> @ClassroomFrontEndHelper.ClassroomTreeView(@ViewBag.Classrooms, schedulerow.ClassroomId)</td>
    <td>@UserHelper.UserTreeView(@ViewBag.Teachers, schedulerow.Course.TeacherId.Value)</td>
    
    if(schedulerow.Description != null)
    {
        <td>@schedulerow.Description </td>
    }
    else
    {
        <td>Geen lesinhoud!</td>
    }

    <td>
        <a href="@Url.Action("Edit", "ScheduleRow", new { id = @schedulerow.Id, columnId = @schedulerow.ScheduleColumnId })" title="Edit schedulerow: @schedulerow.Id"><i class="fa fa-edit"></i></a>
        <a class="confirm-link" href="@Url.Action("Delete", "ScheduleRow", new { id = @schedulerow.Id })" title="Delete schedulerow: @schedulerow.Id" data-id="@schedulerow.Id" data-cat="schedulerow" data-action="delete" data-update-href="@Url.Action("Details", "Schedule", new { id = @schedulerow.ScheduleColumnId })" data-update-target="#course-list"><i class="fa fa-trash"></i></a>
        @if (@schedulerow.Deleted != null)
        {
            <a class="confirm-link" href="@Url.Action("VirtualUnDelete", "ScheduleRow", new { id = @schedulerow.Id })" title="Soft-undelete schedulerow: @schedulerow.Id" data-id="@schedulerow.Id" data-cat="schedulerow" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Schedule")" data-update-target="#course-list"><i class="fa fa-eye-slash"></i></a>
        }
        else
        {
            <a class="confirm-link" href="@Url.Action("VirtualDelete", "ScheduleRow", new { id = @schedulerow.Id })" title="Soft-delete schedule: @schedulerow.Id data-id=" @schedulerow.Id data-cat="schedulerow" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Schedule")" data-update-target="#course-list"><i class="fa fa-eye"></i></a>
        }
    </td>


    }


}
else
{


    <td> Geen les!</td>
    <td>Geen leerkracht</td>
    <td>Geen klas!</td>
    <td>Geen lesinhoud!</td>


}

