﻿@model IEnumerable<LudusCMS.Model.Schedule>
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Schedule", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var schedule in Model)
                        {
                            @Html.AntiForgeryToken()
                            <tr data-id="reportcard-@schedule.Id" data-title="@schedule.Id">
                                <td> <a href="@Url.Action("Columns", new { id = @schedule.Id })" title="details: @schedule.Name">@schedule.Name</a></td>
                                <td>@schedule.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @schedule.Id })" title="Edit schedule: @schedule.Id"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @schedule.Id })" title="Delete schedule: @schedule.Id" data-id="@schedule.Id" data-cat="reportcard" data-action="delete" data-update-href="@Url.Action("Index", "Schedule")" data-update-target="#schedules-list"><i class="fa fa-trash"></i></a>
                                    @if (@schedule.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @schedule.Id })" title="Soft-undelete schedule: @schedule.Id" data-id="@schedule.Id" data-cat="schedule" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Schedule")" data-update-target="#schedules-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @schedule.Id })" title="Soft-delete schedule: @schedule.Id data-id=" @schedule.Id data-cat="schedule" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Schedule")" data-update-target="#schedules-list"><i class="fa fa-eye"></i></a>
                                    }
                                </td>
                              
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Schedules in the database!</p>
        }
    </div>
    <div class="panel-footer">
       
    </div>
</div>


