﻿@model LudusCMS.Model.ViewModels.ScheduleViewModel

@{
    ViewBag.Title = "Schedule Columns";
    ViewBag.SubTitle = Model.Schedule.Name;
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Add a new column", "Create","ScheduleColumn", new { id = @Model.Schedule.Id }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null)
        {
            <div class="table-responsive" id="reportcards-list">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Klas</th>

                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model.ScheduleColumn.Count() > 0 && @Model.ScheduleColumn != null)
                        {
                            foreach (var column in @Model.ScheduleColumn)
                            {
                                 @Html.AntiForgeryToken()
                                <tr data-id="schedulecolumn-@column.Id" data-title="@column.Id">
                                    
                                    @if (column.ClassId != null)
                                    {
                                        <td><a href="@Url.Action("Details", new { id = @column.Id })" title="details: @column.ClassId"> @ClassScheduleHelper.ClassTreeView(@Model.Classes, (Int32)column.ClassId)</a></td>
                                    }
                                    else
                                    {
                                        <td>Geen geldig vak geselecteerd.</td>
                                    }

                                    <td>
                                        <a href="@Url.Action("Edit", "ScheduleColumn", new { id = @column.Id })" title="Edit column: @column.Id"><i class="fa fa-edit"></i></a>
                                        <a class="confirm-link" href="@Url.Action("Delete", "ScheduleColumn", new { id = @column.Id })" title="Delete column: @column.Id" data-id="@column.Id" data-cat="column" data-action="delete" data-update-href="@Url.Action("Details", "Schedule", new { id = @column.ScheduleId })" data-update-target="#schedules-list"><i class="fa fa-trash"></i></a>
                                        @if (@column.Deleted != null)
                                        {
                                            <a class="confirm-link" href="@Url.Action("VirtualUnDelete", "ScheduleColumn", new { id = @column.Id })" title="Soft-undelete column: @column.Id" data-id="@column.Id" data-cat="column" data-action="virtualundelete" data-update-href="@Url.Action("Details", "Schedule", new { id = @Model.Schedule.Id })" data-update-target="#schedules-list"><i class="fa fa-eye-slash"></i></a>
                                        }
                                        else
                                        {
                                            <a class="confirm-link" href="@Url.Action("VirtualDelete", "ScheduleColumn", new { id = @column.Id })" title="Soft-delete column: @column.Id" data-id="@column.Id" data-cat="column" data-action="virtualdelete" data-update-href="@Url.Action("Details", "Schedule", new { id = @Model.Schedule.Id })" data-update-target="#schedules-list"><i class="fa fa-eye"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td>Er zijn nog geen columns toegevoegd!</td></tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="well well-lg">
                Nog geen columns toegevoegd!
            </div>
        }
    </div>
    <div class="panel-footer">
        
    </div>
</div>