﻿@model LudusCMS.Model.ViewModels.ScheduleViewModel
@{
    
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a new schedule
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Schedule</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Schedule.Name)
                            @Html.TextBoxFor(m => m.Schedule.Name, new { @class = "form-control" })
                        </div>
                        
                        <input type="submit" value="Create" class="btn btn-default" />
                        @Html.ActionLink("Back to the list", "Index", new { }, new { @class = "btn btn-primairy" })
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>