﻿@model LudusCMS.Model.ViewModels.ScheduleColumnViewModel

@{
    ViewBag.Title = "Column Details";
    ViewBag.SubTitle =  @ClassHelper.ClassTreeView(@Model.Classes, (Int32)Model.ScheduleColumn.ClassId);
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
   
    <div class="panel-body">
        <section id="course-list">
            <article>
                
                <div class="table-responsive tabelrooster">
                    <table class="table table-striped">
                        <thead >
                            <tr>

                                <th class="tabelhoofd">Maandag</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 1, id = @Model.ScheduleColumn.Id });}
                                @if(@Model.ScheduleRow.Where(x => x.Position == 1).Count() == 0)
                                {               
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 1 })" title="Create schedulerow for position 1"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>2</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 2, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 2).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 2 })" title="Create schedulerow for position 2"><i class="fa fa-plus"></i></a></td> }
                                
                            </tr>
                            <tr>
                                <td>3</td>
                               @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 3, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 3).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 3 })" title="Create schedulerow for position 3"><i class="fa fa-plus"></i></a></td> }
                            </tr>
                            <tr>
                                <td>4</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 4, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 4).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 4 })" title="Create schedulerow for position 4"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>5</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 5, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 5).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 5 })" title="Create schedulerow for position 5"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>6</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 6, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 6).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 6 })" title="Create schedulerow for position 6"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>7</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 7, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 7).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 7 })" title="Create schedulerow for position 7"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>8</td>
                               @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 8, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 8).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 8 })" title="Create schedulerow for position 8"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead >
                            <tr>

                                <th class="tabelhoofd">Dinsdag</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 9, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 9).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 9 })" title="Create schedulerow for position 9"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>2</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 10, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 10).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 10 })" title="Create schedulerow for position 10"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>3</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 11, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 11).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 11 })" title="Create schedulerow for position 11"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>4</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 12, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 12).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 12 })" title="Create schedulerow for position 12"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>5</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 13, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 13).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 13 })" title="Create schedulerow for position 13"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>6</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 14, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 14).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 14 })" title="Create schedulerow for position 14"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>7</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 15, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 15).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 15 })" title="Create schedulerow for position 15"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>8</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 16, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 16).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 16 })" title="Create schedulerow for position 16"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>

                        </tbody>
                    </table>
                </div>



                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead >
                            <tr>

                                <th class="tabelhoofd">Woensdag</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 17, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 17).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 17 })" title="Create schedulerow for position 17"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>2</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 18, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 18).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 18 })" title="Create schedulerow for position 18"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>3</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 19, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 19).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 19 })" title="Create schedulerow for position 19"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>4</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 20, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 20).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 20 })" title="Create schedulerow for position 20"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>5</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 21, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 21).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 21 })" title="Create schedulerow for position 21"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>6</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 22, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 22).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 22 })" title="Create schedulerow for position 22"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>7</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 23, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 23).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 23 })" title="Create schedulerow for position 23"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>8</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 24, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 24).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 24 })" title="Create schedulerow for position 24"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>

                        </tbody>
                    </table>
                </div>


                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead >
                            <tr>

                                <th class="tabelhoofd">Donderdag</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 25, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 25).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 25 })" title="Create schedulerow for position 25"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>2</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 26, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 26).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 26 })" title="Create schedulerow for position 26"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>3</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 27, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 27).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 27 })" title="Create schedulerow for position 27"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>4</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 28, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 28).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 28 })" title="Create schedulerow for position 28"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>5</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 29, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 29).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 29 })" title="Create schedulerow for position 29"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>6</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 30, id = @Model.ScheduleColumn.Id });}
                                 @if(@Model.ScheduleRow.Where(x => x.Position == 30).Count() == 0)
                                {               
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 30 })" title="Create schedulerow for position 30"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>7</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 31, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 31).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 31 })" title="Create schedulerow for position 31"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>8</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 32, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 32).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 32 })" title="Create schedulerow for position 32"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead >
                            <tr>

                                <th class="tabelhoofd">Vrijdag</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 33, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 33).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 33 })" title="Create schedulerow for position 33"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>2</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 34, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 34).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 34 })" title="Create schedulerow for position 34"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>3</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 35, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 35).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 35 })" title="Create schedulerow for position 35"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>4</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 36, id = @Model.ScheduleColumn.Id });}
                                 @if(@Model.ScheduleRow.Where(x => x.Position == 36).Count() == 0)
                                {               
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 36 })" title="Create schedulerow for position 36"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>5</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 37, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 37).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 37 })" title="Create schedulerow for position 37"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>6</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 38, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 38).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 38 })" title="Create schedulerow for position 38"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>7</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 39, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 39).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 39 })" title="Create schedulerow for position 39"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>
                            <tr>
                                <td>8</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 40, id = @Model.ScheduleColumn.Id });}
                                @if (@Model.ScheduleRow.Where(x => x.Position == 40).Count() == 0)
                                {
                                    <td><a href="@Url.Action("Create", "ScheduleRow", new { id = @Model.ScheduleColumn.Id, position = 40 })" title="Create schedulerow for position 40"><i class="fa fa-plus"></i></a></td>
                                }
                            </tr>

                        </tbody>
                    </table>
                </div>




            </article>

        </section>
    </div>
    
</div>