﻿@model IEnumerable<LudusCMS.Model.Schedule>
<div class="panel panel-default">

    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var schedule in Model)
                        {
                            @Html.AntiForgeryToken()
                            <tr data-id="reportcard-@schedule.Id" data-title="@schedule.Id">
                                <td> <a href="@Url.Action("Details", new { id = @schedule.Id })" title="details: @schedule.Name">@schedule.Name</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Schedules available at the moment!</p>
        }
    </div>
   
</div>


