﻿@model IEnumerable<LudusCMS.Model.ScheduleRow>

@if (Model != null & Model.Count() > 0)
{
    foreach (var schedulerow in Model)
    {
        <td>@CourseFrontEndHelper.CourseTreeView(@ViewBag.Courses, schedulerow.CourseId)</td>
        if (schedulerow.Course.TeacherId != null)
        {
            <td>@UserHelper.UserTreeView(@ViewBag.Teachers, schedulerow.Course.TeacherId.Value)</td>
        }
        else
        {
            <td>Geen leerkracht!</td>
        }

        <td> @ClassroomFrontEndHelper.ClassroomTreeView(@ViewBag.Classrooms, schedulerow.ClassroomId)</td>
       

        if (schedulerow.Description != null)
        {
            <td>@schedulerow.Description </td>
        }
        else
        {
            <td>Geen lesinhoud!</td>
        }
    }


}
else
{


    <td>Geen les!</td>
    <td>Geen leerkracht!</td>
    <td>Geen klaslokaal!</td>
    <td>Geen lesinhoud!</td>


}
