﻿@model LudusCMS.Model.ViewModels.ScheduleColumnViewModel

@{
    ViewBag.Title = "Column Details";
    ViewBag.SubTitle = @ClassHelper.ClassTreeView(@Model.Classes, (Int32)Model.ScheduleColumn.ClassId);
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="panel panel-default">
    
    <div class="panel-body">
        <section id="course-list">
            <article>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="tabelhoofd">
                            <tr>
                                <th>Maandag  </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 1, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>2</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 2, id = @Model.ScheduleColumn.Id });}
                            </tr>
                            <tr>
                                <td>3</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 3, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>4</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 4, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>5</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 5, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>6</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 6, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>7</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 7, id = @Model.ScheduleColumn.Id });}
                            </tr>
                            <tr>
                                <td>8</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 8, id = @Model.ScheduleColumn.Id });}

                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="tabelhoofd">
                            <tr>
                                <th>Dinsdag  </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 9, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>2</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 10, id = @Model.ScheduleColumn.Id });}
                            </tr>
                            <tr>
                                <td>3</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 11, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>4</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 12, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>5</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 13, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>6</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 14, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>7</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 15, id = @Model.ScheduleColumn.Id });}
                            </tr>
                            <tr>
                                <td>8</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 16, id = @Model.ScheduleColumn.Id });}

                            </tr>

                        </tbody>
                    </table>
                </div>



                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="tabelhoofd">
                            <tr>
                                <th>Woensdag </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 17, id = @Model.ScheduleColumn.Id });}
                            </tr>
                            <tr>
                                <td>2</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 18, id = @Model.ScheduleColumn.Id });}
                            </tr>
                            <tr>
                                <td>3</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 19, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>4</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 20, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>5</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 21, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>6</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 22, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>7</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 23, id = @Model.ScheduleColumn.Id });}
                            </tr>
                            <tr>
                                <td>8</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 24, id = @Model.ScheduleColumn.Id });}

                            </tr>

                        </tbody>
                    </table>
                </div>


                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="tabelhoofd">
                            <tr>
                                <th>Donderdag</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 25, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>2</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 26, id = @Model.ScheduleColumn.Id });}
                            </tr>
                            <tr>
                                <td>3</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 27, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>4</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 28, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>5</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 29, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>6</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 30, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>7</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 31, id = @Model.ScheduleColumn.Id });}
                            </tr>
                            <tr>
                                <td>8</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 32, id = @Model.ScheduleColumn.Id });}

                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="tabelhoofd">
                            <tr>
                                <th>Vrijdag  </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 33, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>2</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 34, id = @Model.ScheduleColumn.Id });}
                            </tr>
                            <tr>
                                <td>3</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 35, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>4</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 36, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>5</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 37, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>6</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 38, id = @Model.ScheduleColumn.Id });}

                            </tr>
                            <tr>
                                <td>7</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 39, id = @Model.ScheduleColumn.Id });}
                            </tr>
                            <tr>
                                <td>8</td>
                                @{Html.RenderAction("PVGetScheduleRowByPostition", "Schedule", new { position = 40, id = @Model.ScheduleColumn.Id });}

                            </tr>

                        </tbody>
                    </table>
                </div>




            </article>

        </section>
    </div>
    
</div>