﻿@model LudusCMS.Model.Schedule

@{
    ViewBag.Title = "Schedules";
    ViewBag.SubTitle = "Schedules Ludus";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section>
    <article>
        <h3>Error</h3>
        <p>We hebben jouw klas en/of lessenrooster niet gevonden, of er is nog geen lessenrooster voor jouw klas toegevoegd. Excuses voor het ongemak, probeer het later opnieuw!</p>
    </article>
</section>