﻿@model IEnumerable<LudusCMS.Model.Schedule>
@{
    ViewBag.Title = "Lessenroosters";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
<div class="row">
    <section class="col-xs-12" id="schedules-list">
        @{Html.RenderPartial("_ListPartial", Model);}
    </section>
</div>

}
else
{
    Response.Redirect(Url.Action("Login", "Account"));
}
@section Scripts {
    <script>
        window.ConfirmManager.registerClickHandlers();
        window.ConfirmManager.registerModalHandlers();
    </script>
}
