﻿@model IEnumerable<LudusCMS.Model.Course>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Course", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Teacher</th>
                            <th>Department</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var course in Model)
                        {
                            <tr data-id="course-@course.Id" data-title="@course.Name">
                                <td>@course.Name</td>
                                <td>@course.Description</td>
                                @if (course.TeacherId != null)
                                {
                                    @StudentHelper.StudentTreeView(Students: ViewBag.Teachers, id: (Int32)course.TeacherId)
                                }
                                else
                                {
                                    <td> Course heeft geen teacher!</td>
                                }
                                
                                @if (course.DepartmentId != null)
                                {
                                     @DepartmentHelper.DepartmentTreeView(Departments: ViewBag.Departments, id: (Int32)course.DepartmentId)
                                }
                                else
                                {
                                    <td> Course heeft geen department!</td>
                                }
                                
                                <td>@course.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @course.Id })" title="Edit course: @course.Name"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @course.Id })" title="Delete course: @course.Name" data-id="@course.Id" data-cat="course" data-action="delete" data-update-href="@Url.Action("Index", "Course")" data-update-target="#courses-list"><i class="fa fa-trash"></i></a>
                                    @if (@course.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @course.Id })" title="Soft-undelete course: @course.Name" data-id="@course.Id"  data-cat="course" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Course")" data-update-target="#courses-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @course.Id })" title="Soft-delete course: @course.Name" data-id="@course.Id" data-cat="course" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Course")" data-update-target="#courses-list"><i class="fa fa-eye"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Departments in the database!</p>
        }
    </div>
    <div class="panel-footer">
       
    </div>
</div>
