﻿@model LudusCMS.Model.ViewModels.CourseViewModel
@{
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a new course
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">course</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.course.Name)
                            @Html.TextBoxFor(m => m.course.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.course.Description)
                            @Html.TextAreaFor(m => m.course.Description, new { @class = "form-control", rows = 4, cols = 100 })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.course.DepartmentId)
                            @Html.DropDownListFor(m => m.course.DepartmentId, new SelectList(Model.Departments, "Id" , "Name"), "-- Select department --", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.course.Teacher)
                            @Html.DropDownListFor(m => m.course.TeacherId, new SelectList(Model.Teachers, "Id", "Username"), "-- Select a teacher --", new { @class = "form-control" })
                        </div>

                        
                        <input type="submit" value="Create" class="btn btn-default" />
                        @Html.ActionLink("Back to the list", "Index", new { }, new { @class = "btn btn-primairy" })
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>