﻿
@model IEnumerable<LudusCMS.Model.Blog>

<section class="small small-posts">
    @if (Model != null & Model.Count() > 0)
    {
        <ul>
            @foreach (var blog in Model)
            {
                <li>@Html.ActionLink(@blog.Title, "Details", "Blog", new { id = @blog.Id }, null)</li>
            }
        </ul>
    }
    else
    {
        <div class="well well-lg">
            Geen blogs beschikbaar!
        </div>
    }
</section>
