﻿@model IEnumerable<LudusCMS.Model.Blog>

<section class="mediumfloat mediumfloat-posts">
    @if (Model != null & Model.Count() > 0)
    {
        foreach (var blog in Model)
        {
            <article class="col-xs-12 col-sm-12 col-md-4 blog-post">
                <h3>@Html.ActionLink(@blog.Title, "Details", "Blog", new { id = @blog.Id }, null)</h3>
                <blockquote>@blog.Synopsis</blockquote>
                @Html.ActionLink("Meer info...", "Details", "Blog", new { id = @blog.Id }, new { @class = "btn " })
            </article>
        }
    }
    else
    {
        <div class="well well-lg">
            Geen blogs beschikbaar!
        </div>
    }
</section>

