﻿@model IEnumerable<LudusCMS.Model.Reportcard>
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Reportcard", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Student</th>
                            <th>Titel</th>
                            <th>Sgnature 1</th>
                            <th>Signature 2</th>
                            <th>Modified</th>
                            <th>Actions</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reportcard in Model)
                        {
                            @Html.AntiForgeryToken()
                            <tr data-id="reportcard-@reportcard.Id" data-title="@reportcard.Id">
                                <td>@reportcard.User.UserName</td>
                                <td>@reportcard.Title</td>
                                @if (reportcard.Signature1 != 0)
                                {
                                    @StudentHelper.StudentTreeView(Students: ViewBag.Users, id: (Int32)reportcard.Signature1)
                                }
                                else
                                {
                                    <td> No signature!!</td>
                                }

                                @if (reportcard.Signature2 != 0)
                                {
                                    @StudentHelper.StudentTreeView(Students: ViewBag.Users, id: (Int32)reportcard.Signature2)
                                }
                                else
                                {
                                    <td> No signature!!</td>
                                }
                                
                                <td>@reportcard.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @reportcard.Id })" title="Edit reportcard: @reportcard.Id"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @reportcard.Id })" title="Delete reportcard: @reportcard.Id" data-id="@reportcard.Id" data-cat="reportcard" data-action="delete" data-update-href="@Url.Action("Index", "Reportcard")" data-update-target="#reportcards-list"><i class="fa fa-trash"></i></a>
                                    @if (@reportcard.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @reportcard.Id })" title="Soft-undelete reportcard: @reportcard.Id" data-id="@reportcard.Id" data-cat="reportcard" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Reportcard")" data-update-target="#reportcards-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @reportcard.Id })" title="Soft-delete reportcard: @reportcard.Id data-id=" @reportcard.Id data-cat="reportcard" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Reportcard")" data-update-target="#reportcards-list"><i class="fa fa-eye"></i></a>
                                    }
                                </td>
                                <td><a href="@Url.Action("Details", new { id = @reportcard.Id })"><button>Edit</button></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Reportcards in the database!</p>
        }
    </div>
    <div class="panel-footer">
       
    </div>
</div>