﻿@model LudusCMS.Model.ViewModels.ReportCardViewModel
@{
    ViewBag.Title = Model.User.UserName;
    ViewBag.SubTitle = Model.Reportcard.Title;
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Add a new score", "Create", "ReportcardRow", new { id = @Model.Reportcard.Id }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (@Model != null)
        {
            <div class="table-responsive" id="reportcards-rows">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Vak</th>
                            <th>Opmerkingen</th>
                            <th>Taken</th>
                            <th>Toetsen</th>
                            <th>Totaal</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model.ReportcardRows != null)
                        {
                            foreach (var vak in @Model.ReportcardRows)
                            {

                                <tr>
                                   @if (vak.CourseId != null)
                                   {
                                      @CourseHelper.CourseTreeView(@Model.Courses, (Int32)vak.CourseId)
                                   }
                                    
                                    <td>@vak.Description </td>
                                    <td>@vak.TaskScore %</td>
                                    <td>@vak.TestScore %</td>
                                    <td>@vak.TotalScore %</td>
                                    <td>
                                        <a href="@Url.Action("Edit", "ReportcardRow", new { id = @vak.Id, reportcardId = @vak.ReportcardId })" title="Edit course: @vak."><i class="fa fa-edit"></i></a>
                                        <a class="confirm-link" href="@Url.Action("Delete", "ReportcardRow", new { id = @vak.Id , reportcardId = @vak.ReportcardId })" title="Delete reportcard: @vak.Id" data-id="@vak.Id" data-cat="reportcard" data-action="delete" data-update-href="@Url.Action("Details", "Reportcard", new { id = @vak.ReportcardId})" data-update-target="#reportcards-list"><i class="fa fa-trash"></i></a>
                                       @if (@vak.Deleted != null)
                                        {
                                            <a class="confirm-link" href="@Url.Action("VirtualUnDelete", "ReportcardRow", new { id = @vak.Id })" title="Soft-undelete blog: @vak.Id" data-id="@vak.Id" data-cat="blog" data-action="virtualundelete" data-update-href="@Url.Action("Details", "Reportcard", new { id = @Model.Reportcard.Id })" data-update-target="#reportcards-list"><i class="fa fa-eye-slash"></i></a>
                                        }
                                        else
                                        {
                                            <a class="confirm-link" href="@Url.Action("VirtualDelete", "ReportcardRow", new { id = @vak.Id })" title="Soft-delete blog: @vak.Id" data-id="@vak.Id" data-cat="vak" data-action="virtualdelete" data-update-href="@Url.Action("Details", "Reportcard", new { id = @Model.Reportcard.Id })" data-update-target="#reportcards-list"><i class="fa fa-eye"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <p>Er zijn nog geen scores toegevoegd!</p>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="well well-lg">
                Nog geen scores toegevoegd!
            </div>
        }
    </div>
    <div class="panel-footer">
        
    </div>
</div>