﻿@model LudusCMS.Model.ViewModels.ReportCardViewModel
@{
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit an existing reportcard
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Reportcard</legend>
                        @Html.HiddenFor(m => m.Reportcard.Id)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Reportcard.Title)
                            @Html.TextBoxFor(m => m.Reportcard.Title, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Reportcard.UserId)
                            @Html.DropDownListFor(m => m.Reportcard.UserId, new SelectList(Model.ApplicationUsers, "Id", "UserName"), "-- Select the user your reportcard belongs to --", new { @class = "form-control" })
                        </div>
                      
                        <input type="submit" value="Save" class="btn btn-default" />
                        @Html.ActionLink("Back to the list", "Index", new { }, new { @class = "btn btn-primairy" })
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>