﻿@model IEnumerable<LudusCMS.Model.Course>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        
       
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var course in Model)
                        {
                            <tr data-id="course-@course.Id" data-title="@course.Name">
                                <td>@course.Name</td>
                          
                                <td>
                                <a class="confirm-link" href="@Url.Action("Delete2", "Course", new { id = @course.Id })" title="Delete course: @course.Name" data-id="@course.Id" data-cat="course" data-action="delete" data-update-href="@Url.Action("Details", "Department", new { id = @course.DepartmentId })" data-update-target="#coursesdetails-list"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Courses in the database!</p>
        }
    </div>
    <div class="panel-footer">
       
    </div>
</div>
