﻿@model IEnumerable<LudusCMS.Model.Department>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new Department", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Year</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var department in Model)
                        {
                            <tr data-id="department-@department.Id" data-title="@department.Name">
                                <td> <a href="@Url.Action("Details", new { id = @department.Id })" title="details: @department.Name">@department.Name</a></td>
                                @if (department.SchoolYearId != null)
                                {
                                    @SchoolyearHelper.SchoolyearTreeView(Schoolyears: ViewBag.Schoolyears, id: (Int32)department.SchoolYearId)
                                }
                                else
                                {
                                    <td>Department heeft  geen schoolyear!</td>
                                }           
                                <td>@department.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @department.Id })" title="Edit department: @department.Name"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @department.Id })" title="Delete department: @department.Name" data-id="@department.Id"  data-cat="department" data-action="delete" data-update-href="@Url.Action("Index", "Department")" data-update-target="#departments-list"><i class="fa fa-trash"></i></a>
                                    @if (@department.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @department.Id })" title="Soft-undelete department: @department.Name" data-id="@department.Id" data-cat="department" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Department")" data-update-target="#departments-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @department.Id })" title="Soft-delete department: @department.Name" data-id="@department.Id" data-cat="department" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Department")" data-update-target="#departments-list"><i class="fa fa-eye"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Departments in the database!</p>
        }
    </div>
    <div class="panel-footer">
       
    </div>
</div>
