﻿@model IEnumerable<LudusCMS.Model.Course>
@{
    ViewBag.Title = "Courses in department";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section class="col-xs-12" id="coursesdetails-list">
        @{Html.RenderPartial("_ListPartialDetails", Model);}
    </section>
</div>
@section Scripts {
    <script>
        window.ConfirmManager.registerClickHandlers();
        window.ConfirmManager.registerModalHandlers();
    </script>
}

