﻿@model LudusCMS.Model.ViewModels.DepartmentViewModel

@{
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edt an exisiting department
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Department</legend>
                        @Html.HiddenFor(m => m.Department.Id)
                        <div class="form-group">
                            @Html.LabelFor(m => m.Department.Name)
                            @Html.TextBoxFor(m => m.Department.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Department.Description)
                            @Html.TextAreaFor(m => m.Department.Description, new { @class = "form-control", rows = 4, cols = 100 })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Department.SchoolYear)
                            @Html.DropDownListFor(m => m.Department.SchoolYearId, new SelectList(Model.Schoolyears, "Id", "Name"), "-- Select an academicyear --", new { @class = "form-control" })
                        </div>
                        
                        <input type="submit" value="Save" class="btn btn-deafault">
                        @Html.ActionLink("Back to the list", "Index", new { }, new { @class = "btn btn-primairy" })
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>