﻿
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Ludus</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator") || User.IsInRole("Student") || User.IsInRole("Parent"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Blog")" title="Blog">Blog</a>
                    </li>
                }
                @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator") || User.IsInRole("Student") || User.IsInRole("Parent"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Message")" title="Berichten">Berichten</a>
                    </li>
                }
                @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator") || User.IsInRole("Student") || User.IsInRole("Parent"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Event")" title="Agenda">Agenda</a>
                    </li>
                }
                @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator") || User.IsInRole("Student") || User.IsInRole("Parent"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Calendar")" title="Kalender">Kalender</a>
                    </li>
                }
                @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator") || User.IsInRole("Student") || User.IsInRole("Parent"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Schedule")" title="Lessenrooster">Lessenrooster</a>
                    </li>
                }
                @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator") || User.IsInRole("Student") || User.IsInRole("Parent"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Course")" title="Cursussen">Cursussen</a>
                    </li>
                }
                @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator") || User.IsInRole("Student") || User.IsInRole("Parent"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Reportcard")" title="Rapporten">Rapporten</a>
                    </li>
                }
                @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Home", new { area = "Backoffice" })" title="Beheer">Beheer</a>
                    </li>
                }
            </ul>
           <ul class="nav navbar-nav navbar-right">          
                    @if (Request.IsAuthenticated)
                    {
                        <li><a>Hallo, @User.Identity.Name</a></li>
                        <li>
                        <ul id="profile-info-ul">
                            <li><a href="@Url.Action("Profile", "Account")" title=""><span class="glyphicon glyphicon-user"></span>Profiel</a></li>
                            <li>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-off"></span>Uitloggen</a>
                                }
                            </li>
                        </ul>
                    </li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Login", "Account")" title="Inloggen">Inloggen</a></li>
                    }
                </ul>
</div><!--/.nav-collapse -->
    </div>
</nav>