﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper" id="main-wrapper">
    <div class="container">
        <div class="row">
            @* Main Content *@
            <main id="main" role="main" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <header>
                    <h1>@ViewBag.Title</h1>
                </header>
                @* Render the body of the view *@
                @RenderBody()
            </main>
        </div>
    </div>
</div>


@section scripts{
    @RenderSection("scripts", required: false)
}
