﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderSection("banners", required: false)

@* Main Content *@
<div class="wrapper" id="main-wrapper">
    <div class="container">
        <main id="main" role="main" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <header id="main-header" class="clearfix hidden">
                <h1>@ViewBag.Title <small>@ViewBag.SubTitle</small></h1>
            </header>

            @* Render the body of the view *@
            @RenderBody()
        </main>
    </div>
</div>


@* Render the scripts again
    @section scripts{
        @RenderSection("scripts", required: false)
    }
*@