﻿<!doctype html>
<!-- [if lt IE 7]><html dir="ltr" lang="nl-be" class="no-js lt-ie7"><![endif]-->
<!-- [if lt IE 8]><html dir="ltr" lang="nl-be" class="no-js lt-ie8"><![endif]-->
<!-- [if lt IE 9]><html dir="ltr" lang="nl-be" class="no-js lt-ie9"><![endif]-->
<!-- [if lt IE 10]><html dir="ltr" lang="nl-be" class="no-js lt-ie10"><![endif]-->
<!-- [if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="nl-be" class="no-js" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<head>
    @* CHARACTER ENCODING *@
    <meta charset="UTF-8">
    @* LATEST VERSION OF RENDERING ENGINE *@
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    @* MOST IMPORTANT SEO FRIENDLY TAG *@
    <title>@ViewBag.Title</title>
    @* OTHER IMPORTANT SEO TAGS *@
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="author" content="@ViewBag.Author">
    <meta name="copyright" content="Copyright 2003-@DateTime.Now.Year Arteveldehogeschool. Alle rechten voorbehouden.">
    @* HUMANS AUTHORS TEXT FILE *@
    <link type="text/plain" rel="author" href="~/humans.txt">
    @* FAVICON AND TOUCHICONS ex: http://demosthenes.info/blog/467/Creating-MultiResolution-Favicons-For-Web-Pages-With-GIMP *@
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/content/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/content/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/content/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/content/icons/apple-touch-icon-57-precomposed.png">
    <link href="~/content/icons/favicon.ico" rel="icon" type="image/x-icon">
    <link href="~/content/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    @* MOBILE VIEWPORT *@
    <meta name="viewport" content="width=device-width">
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

    @Styles.Render("~/Content/themes/base/css")


</head>
<body>
    @* Header Partial *@
    @Html.Partial("_Header")
    
    @* Main Content *@

            @* Alert Partial*@
            @Html.Partial("_Alert")

            @* Render the body of the view *@
            @RenderBody()



    
    @* Modal Popup Partial *@
    @Html.Partial("_Modal")

    @* Footer Partial *@
    @Html.Partial("_Footer")

    @* jQuery *@
    @Scripts.Render("~/bundles/jquery")

   
  
   
    @Scripts.Render("~/bundles/jqueryui")


    @* AlertManager TempData JS *@
    @using LudusCMS.Web.Infrastructure.Alerts
    @if (TempData.GetAlerts().Any())
    {
        <script>
            (function () {
                @foreach (var alert in TempData.GetAlerts())
			            {
				            <text>
                window.AlertManager.showAlert('@alert.Type', '@alert.Message.Replace("'", "\\'")');
                </text>
			            }
            })();
        </script>
    }

    

    @* jQuery
    @Scripts.Render("~/bundles/jquery")
    *@
    @* Bootstrap *@
    @Scripts.Render("~/bundles/bootstrap")

    @* jQuery Validate *@
    @Scripts.Render("~/bundles/jqueryval")

    @* Custom scripts specified in the views*@
    @RenderSection("scripts", required: false)
   
</body>
</html>