﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Main Content *@
<img src="~/Content/images/Banner.png" alt="Ludus" id="banner" class="hidden-sm hidden-xs" />
<div class="wrapper" id="main-wrapper">
    <div class="container">
        <main id="main" role="main">

            <header id="main-header" class="clearfix">
                <h1>@ViewBag.Title</h1>
            </header>

            @* Render the body of the view *@
            @RenderBody()
        </main>
    </div>
</div>


@* Render the scripts again
    @section scripts{
        @RenderSection("scripts", required: false)
    }

*@