﻿@* Sidebar, on the left in the backoffice *@
@if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator") || User.IsInRole("Teacher") || User.IsInRole("Parent"))
            {

        <ul class="nav navbar-nav side-nav">

            <li class="active">
                <a href="@Url.Action("Index", "Home")" title="">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="label-menu">Dashboard</span>
                </a>
            </li>

            @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator") || User.IsInRole("Teacher") || User.IsInRole("Parent"))
            {
                <li class="submenu">
                    <a href="#" title="">
                        <span class="fa fa-rocket"></span>
                        <span class="label-menu">Agenda</span>
                        <span class="pull-right arrow"></span>
                    </a>
                    <ul class="slider-down">
                        <li>
                            <a href="@Url.Action("Index", "Event")" title="Agenda">
                                <span class="label-menu">Bekijk Agenda</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator") || User.IsInRole("Teacher") || User.IsInRole("Parent"))
            {
                <li class="submenu">
                    <a href="#" title="">
                        <span class="fa fa-calendar"></span>
                        <span class="label-menu">Lessenrooster</span>
                        <span class="pull-right arrow"></span>
                    </a>
                    <ul class="slider-down">
                        <li>
                            <a href="@Url.Action("Index", "Schedule")" title="Lessenrooster">
                                <span class="label-menu"> Bekijk Lessenrooster</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator") || User.IsInRole("Teacher"))
            {
                <li class="submenu">
                    <a href="#" title="">
                        <span class="fa fa-newspaper-o"></span>
                        <span class="label-menu">Blogs</span>
                        <span class="pull-right arrow"></span>
                    </a>
                    <ul class="slider-down">
                        <li>
                            <a href="@Url.Action("Index", "Blog")" title="All blogs">
                                <span class="label-menu">Alle Blogs</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator") || User.IsInRole("Teacher") || User.IsInRole("Parent"))
            {
                <li class="submenu">
                    <a href="#" title="">
                        <span class="fa fa-book"></span>
                        <span class="label-menu">Cursussen</span>
                        <span class="pull-right arrow"></span>
                    </a>
                    <ul class="slider-down">
                        <li>
                            <a href="@Url.Action("Index", "Course")" title="">
                                <span class="label-menu">Alle Cursussen</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator") || User.IsInRole("Teacher") || User.IsInRole("Parent"))
            {
                <li class="submenu">
                    <a href="#" title="">
                        <span class="fa fa-line-chart"></span>
                        <span class="label-menu">Rapporten</span>
                        <span class="pull-right arrow"></span>
                    </a>
                    <ul class="slider-down">
                        <li>
                            <a href="@Url.Action("Index", "Reportcard")" title="">
                                <span class="label-menu">Alle Rapporten</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }
            @if (User.IsInRole("Teacher") || User.IsInRole("Admin") || User.IsInRole("Classtitular") || User.IsInRole("secretary") || User.IsInRole("Principal") || User.IsInRole("Schoolcoordinator"))
            {


                <li class="submenu">
                    <a href="#" title="">
                        <span class="fa fa-lock"></span>
                        <span class="label-menu">Backoffice</span>
                        <span class="pull-right arrow"></span>
                    </a>
                    <ul class="slider-down">
                        <li>
                            <a href="@Url.Action("Index", "Home", new { area = "Backoffice" })" title="">
                                <span class="label-menu">Naar Backoffice</span>
                            </a>
                        </li>
                    </ul>
                </li>

            }
        </ul>
                


            }