﻿@model IEnumerable<LudusCMS.Model.ApplicationUser>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Modified</th>
                            <th>Assign Class</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var teacher in Model)
                        {
                            <tr>
                                <td>@teacher.FirstName @teacher.LastName</td>
                                @if (teacher.ClassId == null)
                                {
                                    <td>Is geen titularis</td>
                                }
                                else
                                {
                                    @ClassHelper.ClassTreeView(@ViewBag.Classes, (Int32)@teacher.ClassId)
                                }                        
                                <td>@teacher.Updated</td>
                                <td><a href="@Url.Action("AddClass", new { id = @teacher.Id })" title="Give Student a class: @teacher.FirstName @teacher.LastName"><i class="fa fa-edit"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No teachers in the database!</p>
        }
    </div>
</div>
