﻿@model LudusCMS.Model.Viewmodels.UserLoginViewModel

@{
    ViewBag.Title = "Inloggen";
    ViewBag.SubTitle = "Inloggen in de frontoffice van de Arteveldehogeschool.";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <legend class="hidden">Inloggen</legend>
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "label label-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "label label-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-primary" />
                        @Html.ActionLink("Registreer je", "Register", null, new { @class = "btn btn-default" })
                        @Html.ActionLink("Paswoord vergeten?", "ForgotPassword", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            }
        </section>
    </div>
</div>
