﻿@model LudusCMS.Model.ApplicationUser
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section>
    <article>
        <h2>Profiel van @Model.FirstName @Model.LastName</h2>
        <p>Naam: @Model.FirstName @Model.LastName</p>
        <p>Username: @Model.UserName</p>
        <p>Emailadres: @Model.Email</p>
        @if(User.IsInRole("Student"))
        { 
        <p>Klas: @if (@Model.ClassId == null)
        {
            <span>U bent nog niet aan een klas toegewezen!</span>
        }
        else
        {
           @ClassHelper.ClassTreeView(@ViewBag.Classes, (Int32)@Model.ClassId)           
        }</p>
            
         <p>Klastitularis: @ViewBag.ClasTitular</p>
        }
        @if (User.IsInRole("Parent"))
        {
            <p>Ouder van: @ViewBag.ChildName</p>
    <p>
        Klas van uw kind: @if (@ViewBag.ChildClass == null)
        {
            <span>U Kind bezit nog geen klass!</span>
        }
        else
        {
            @ClassHelper.ClassTreeView(@ViewBag.Classes, (Int32)@ViewBag.ChildClass)
        }
    </p>
    <p>Klastitularis van uw kind: @ViewBag.ChildTitular</p>
        }
    </article>
</section>

