﻿@model LudusCMS.Model.ViewModels.ScheduleRowViewModel
@{
    
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <section class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create a reportcardrow
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend class="hidden">Reportcard</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ScheduleRow.Position, new { @class = "hidden" })
                            @Html.DropDownListFor(m => m.ScheduleRow.Position, new SelectList(new List<object> { 
                                new { value = 1 , text = "Maandag 1e Lesuur"},
                                new { value = 2 , text = "Maandag 2e Lesuur"},
                                new { value = 3 , text = "Maandag 3e Lesuur"},
                                new { value = 4 , text = "Maandag 4e Lesuur"},
                                new { value = 5 , text = "Maandag 5e Lesuur"},
                                new { value = 6 , text = "Maandag 6e Lesuur"},
                                new { value = 7 , text = "Maandag 7e Lesuur"},
                                new { value = 8 , text = "Maandag 8e Lesuur"},
                                new { value = 9 , text = "Dinsdag 1e Lesuur"},
                                new { value = 10 , text = "Dinsdag 2e Lesuur"},
                                new { value = 11 , text = "Dinsdag 3e Lesuur"},
                                new { value = 12 , text = "Dinsdag 4e Lesuur"},
                                new { value = 13 , text = "Dinsdag 5e Lesuur"},
                                new { value = 14 , text = "Dinsdag 6e Lesuur"},
                                new { value = 15 , text = "Dinsdag 7e Lesuur"},
                                new { value = 16 , text = "Dinsdag 8e Lesuur"},
                                new { value = 17 , text = "Woensdag 1e Lesuur"},
                                new { value = 18 , text = "Woensdag 2e Lesuur"},
                                new { value = 19 , text = "Woensdag 3e Lesuur"},
                                new { value = 20 , text = "Woensdag 4e Lesuur"},
                                new { value = 21 , text = "Woensdag 5e Lesuur"},
                                new { value = 22 , text = "Woensdag 6e Lesuur"},
                                new { value = 23 , text = "Woensdag 7e Lesuur"},
                                new { value = 14 , text = "Woensdag 8e Lesuur"},
                                new { value = 25 , text = "Doderdag 1e Lesuur"},
                                new { value = 26 , text = "Doderdag 2e Lesuur"},
                                new { value = 27 , text = "Doderdag 3e Lesuur"},
                                new { value = 28 , text = "Doderdag 4e Lesuur"},
                                new { value = 29 , text = "Doderdag 5e Lesuur"},
                                new { value = 30 , text = "Doderdag 6e Lesuur"},
                                new { value = 31 , text = "Doderdag 7e Lesuur"},
                                new { value = 32 , text = "Doderdag 8e Lesuur"},
                                new { value = 33 , text = "Vrijdag 1e Lesuur"},
                                new { value = 34 , text = "Vrijdag 2e Lesuur"},
                                new { value = 35 , text = "Vrijdag 3e Lesuur"},
                                new { value = 36 , text = "Vrijdag 4e Lesuur"},
                                new { value = 37 , text = "Vrijdag 5e Lesuur"},
                                new { value = 38 , text = "Vrijdag 6e Lesuur"},
                                new { value = 39 , text = "Vrijdag 7e Lesuur"},
                                new { value = 40 , text = "Vrijdag 8e Lesuur"}    
                    
                            }, "Value", "text"), "-- Select Position --", new { @class = "form-control hidden" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ScheduleRow.CourseId)
                            @Html.DropDownListFor(m => m.ScheduleRow.CourseId, new SelectList(Model.Courses, "Id", "Name"), "-- Select the course your hour belongs to --", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ScheduleRow.ClassroomId)
                            @Html.DropDownListFor(m => m.ScheduleRow.ClassroomId, new SelectList(Model.Classrooms, "Id", "Name"), "-- Select the classroom your hour belongs to --", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ScheduleRow.Description)
                            @Html.TextBoxFor(m => m.ScheduleRow.Description, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ScheduleRow.ScheduleColumnId, new { @class = "hidden" })
                            @Html.TextBoxFor(m => m.ScheduleRow.ScheduleColumnId, new { Value = @Model.ScheduleColumn.Id, @class = "hidden" })
                        </div>
                        <input type="submit" value="Create" class="btn btn-default" />
                        @Html.ActionLink("Back to the list", "Index","Schedule", new { }, new { @class = "btn btn-primairy" })
                    </fieldset>
                }
            </div>
        </div>
    </section>
</div>
