﻿@model IEnumerable<LudusCMS.Model.EventCategory>
@Html.AntiForgeryToken()
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Create a new EventCategory", "Create", new { }, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body">
        @if (Model != null && Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Modified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var eventcategory in Model)
                        {
                            <tr data-id="eventcategory-@eventcategory.Id" data-title="@eventcategory.Name">
                                <td>@eventcategory.Name</td>
                                <td>@eventcategory.Updated</td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id = @eventcategory.Id })" title="Edit eventcategory: @eventcategory.Name"><i class="fa fa-edit"></i></a>
                                    <a class="confirm-link" href="@Url.Action("Delete", new { id = @eventcategory.Id })" title="Delete eventcategory: @eventcategory.Name" data-id="@eventcategory.Id"  data-cat="eventcatgeory" data-action="delete" data-update-href="@Url.Action("Index", "Eventcategory")" data-update-target="#eventcategories-list"><i class="fa fa-trash"></i></a>
                                    @if (@eventcategory.Deleted != null)
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualUnDelete", new { id = @eventcategory.Id })" title="Soft-undelete eventcategory: @eventcategory.Name" data-id="@eventcategory.Id" data-cat="eventcategory" data-action="virtualundelete" data-update-href="@Url.Action("Index", "Eventcategory")" data-update-target="#eventcategories-list"><i class="fa fa-eye-slash"></i></a>
                                    }
                                    else
                                    {
                                        <a class="confirm-link" href="@Url.Action("VirtualDelete", new { id = @eventcategory.Id })" title="Soft-delete eventcategory: @eventcategory.Name data-id="@eventcategory data-cat="eventcategory" data-action="virtualdelete" data-update-href="@Url.Action("Index", "Eventcategory")" data-update-target="#eventcategories-list"><i class="fa fa-eye"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No Departments in the database!</p>
        }
    </div>
    <div class="panel-footer">
        
    </div>
</div>
