﻿@model LudusCMS.Model.Viewmodels.AmountForEntity

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="viz-amount @Model.EntityType">
                <a href="@Url.Action("Index", @Model.EntityType)" title="@Model.EntityType">
                    @switch (Model.EntityType)
                    {
                        case "Schoolyear":
                            <i class="fa fa-calendar-o"></i>
                            break;
                        case "Department":
                        <i class="fa fa-university"></i>
                            break;
                        case "Blog":
                        <i class="fa fa-newspaper-o"></i>
                            break;
                        case "Category":
                        <i class="fa fa-sort-alpha-asc"></i>
                            break;
                        case "Tag":
                        <i class="fa fa-tags"></i>
                            break;
                        case "Course":
                        <i class="fa fa-book"></i>
                            break;
                        case "Classroom":
                        <i class="fa fa-building"></i>
                            break;
                        case "Class":
                        <i class="fa fa-graduation-cap"></i>
                            break;
                        case "Event":
                        <i class="fa fa-rocket"></i>
                            break;
                        case "Eventcategory":
                        <i class="fa fa-tags"></i>
                            break;
                        case "Reportcard":
                        <i class="fa fa-line-chart"></i>
                            break;
                        case "Schedule":
                        <i class="fa fa-calendar"></i>
                            break;
                        case "Role":
                        <i class="fa fa-group"></i>
                            break;
                        case "User":
                        <i class="fa fa-user"></i>
                            break;
                        case "Person":
                        <i class="fa fa-child"></i>
                            break;
                        default:
                        <i class="fa fa-question"></i>
                            break;
                    }
                    @Model.Amount <small>@Model.EntityTypePlural</small>
                </a>
            </div>
        </div>
    </div>
</div>
