h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 0;
}

label{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

input, textarea{
    max-width: 98%;
    width: 98%;
    margin-top: 10px;
    padding: .5%;
    border: 1px solid #D2D7D3;
    border-radius: 5px;
    display: block;
}

#comments{
    width: auto;
    display: inline;
}

select{
    padding: .25%;
    border: 1px solid #D2D7D3;

}

button{
    margin-top: 0;
    margin-right: 0.5%;
    background-color: #90CECA;
    border: 1px solid #90CECA;
    border-radius: 5px;
    padding: 0.5% 2%;
    color: #ECECEC;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

button:last-of-type{
    color: #ECECEC;
    background-color: #E84937;
    border-color: #E84937;
}

.form-group{
    margin-bottom: 1%;
}

.form-group:last-of-type{
    margin-bottom: 0;
}

#search-button{
    border: none;
    background-color: white;
    width: 15px;
    z-index: 50;
    position: relative;
    left: 328px !important;
    top: -23px !important;
}