﻿
.course-next-title {
    color: #2a6496 !important;
}
blockquote {
    border-left: none !important;
}

.blog-post h3 > a{
    color: #1D2F3A !important;
    border: 2px solid #2a6496;
}

.blog-post h3 > a:hover{
    text-decoration: none !important;
}



#blogs-list article > h3 > a{
    color: #1D2F3A;
    border: 2px solid #2a6496;
}

#blogs-list article > h3 > a:hover{
    text-decoration: none !important;
}

#blogs-list article{
    padding-bottom: 25px;
    border-bottom: 1px solid lightgrey;
    width: 100%;
}

.btnsubmit{
    width: 15%;
    padding: 10px !important;
    color: white !important;
    background-color: #2A6496 !important;
    border: none !important;
    margin-top: 25px;;
}

.commentbox{
    resize: none;
    height: 100px!important;
}





/*************
Top-bar styles
*************/

#top-bar{

    float: left;
    height: 75px;
    width: 85%;
    background-color: pink;
    position: fixed;
    left: 15%;
    padding: 0;
}

.info-top{
    margin-right: 20px;
}

#profile-info-ul{
    list-style: none;
}

#profile-info-ul li{
    list-style:none;
    margin-top: 5px;
}

#profile-info-ul a > span{
    margin-right: 10px;
}



/******************
Main-content styles
******************/

body {
  padding-top: 20px;
  background-color: #ECECEC;
}

.navbar {
  margin-bottom: 50px;
}

#main {
    margin-top: 50px;
}
#banner{
    padding: 0;
    margin: 0;
    width: 100%;
}

.title-blog{
    color: #2a6496;
}



/************
Footer styles
************/

#footer{
    clear: both;
    width: 100%;
    padding: 50px;
    bottom: 0;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    background-color: #1D2F3A;
    color: white;
}

/**********
Post styles
**********/

.left-column{
    position: absolute;
    float: left;
    margin: 0;
    padding: 0;
    width: 48%;
}

.right-column{
    position: absolute;
    left: 50%;
    margin: 0;
    padding: 0;

}

.post{
    background-color: white;
    color: #333;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow:    2px 2px 6px 0px rgba(50, 50, 50, 0.29);
    box-shadow:         2px 2px 6px 0px rgba(50, 50, 50, 0.29);
    margin-bottom: 3%;
    margin-right: 1%;
    padding-bottom: .5%;
}



.post-user img{
    border-radius: 100%;
    width: 8%;
    float: left;
    margin: 2% 2.5%;
}

.post-user ul{
    float: left;
    list-style: none;
    width: 65%;
    padding: 0;
    margin: 3% 0;
}

.post-user ul li:first-child{
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.post-user ul li:last-child{
    color: #858585;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.post-body{
    clear: both;
}

.post-body p{
    padding: 2.5%;
}

.post-body img{
    width: 100%;
}

.comment-amount{
    border-bottom: 1px solid #ddd;
    padding: 0 2%;
    clear: both;
}

.comment{
    padding-bottom: 1%;
    clear: both;
}

.comment-user-profile a img{
    border-radius: 100%;
    width: 50%;
    margin: 0 50% 0 50%;
}

.comment-user-profile{
    float: left;
    width: 10%;
    margin-top: 2%;
}

.comment-user-profile:last-child{
    float: left;
    width: 20%;
    margin-top: 2%;
    margin-bottom: 20%;
}

.comment-body{
    float: left;
    width: 80%;
    margin-top: 2%;
    margin-left: 2%;
}

.comment-body ul{
    list-style: none;
    width: 65%;
    padding: 0;
    margin: 0 .5%;
}

.comment-body ul li:first-child{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.comment-body ul li:last-child{
    color: #858585;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.comment-body-text p{
    margin: 0;
    padding: 1% .5%;

}

.comments-on-comments{
    margin-left: 8%;
    padding-left: 2%;
    border-left: 1px solid #1D2F3A;
}

.comments-on-comments ul{
    margin-top: 5%;
    margin-bottom: 0;
}

.comments-on-comments ul li{
    font-size: 0.8em !important;
}

.comments-on-comments-text p{
    font-size: 0.9em;
    margin-top: 1%;
}

.new-comment{
    clear: both;
    margin-left: 2.5%;
    margin-top: 3%;
    margin-bottom: 2.5%;
}

.new-comment input{
    width: 90%;
    border-radius: 5px;
    border: 1px solid #D2D7D3;
    padding: 1.5%;
}

.new-comment button{
    margin-left: 2.5%;
    background-color: white;
    border: 1px solid #90CECA;
    border-radius: 5px;
    padding: 1.5%;
    color: #90CECA;
}

.new-comment button:last-of-type{
    color: #E84937;
    border-color: #E84937;
}

.categories a{
    float: left;
    padding: 1%;
    background-color: #1D2F3A;
    color: #D2D7D3;
    border-radius: 5px;
    text-decoration: none;
    margin: 2% .5%;
}

.categories a:first-of-type{
    margin-left: 2%;
}

/*********************
BackOffice Home styles
*********************/

.viz-amount{
    font-size: 1.6em;
}

.viz-amount > a > i {
    font-size: 2.5em;
}

#comments-title{
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.pagination > .active > a {
    background-color: #FFFFFF !important;
    border-color: #2a6496 !important;
    color: #2a6496 !important;
}

.categorysection{
    float: left;
    margin-right: 20px;
    padding: 20px;
    padding-left: 0;
}

.categorysection:first-of-type{
    padding-right: 20px;
    border-right: 1px solid grey;
}

.module-comments{
    clear: both;
}

#course-list h3 > a{
    color: #1D2F3A !important;
}
#course-list > article > a {
    width: 15%;
    padding: 10px !important;
    color: white !important;
    background-color: #E84837 !important;
    border: none !important;
    margin-top: 5px;
}

.course-title{
    color: #2a6496;
}

.taak{
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.rapporttabel{
    width: 50%;
}

/* schedule column*/


.table-responsive th , .table-responsiver td{
    width: 16.66%;
}

.table-responsive td:last-of-type {
    text-align: center;
}