﻿@{
    ViewBag.Title = "Ludus";
    ViewBag.SubTitle = "HET digitale leerplatvorm voor de middelbare school";
}

@* Render the scripts again *@
<img src="~/Content/images/Banner.png" alt="Ludus" id="banner" class="hidden-sm hidden-xs" />
<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Laatste Blogposts</h2>
        Html.RenderAction("CompGetPosts", "Component", new { amount = 3, rvType = LudusCMS.Web.Controllers.RenderViewType.MEDIUMFLOAT });
       
    }
    else
    {
        Response.Redirect(Url.Action("Login", "Account"));
    }
   
    

</div>
